<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <!-- card:1 start -->
    <div class="card responsive-content">
        <!-- card body:1 start -->
        <div class="card-body">
            <div class="content-title"><i class="fa-solid fa-chart-simple me-2"></i>통계 > 이용률 통계</div>
            <!-- card:2 start -->
            <div class="card card-shadow">
                <!-- card body:2 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span>검색조건</span></div>
                    <!-- form start -->
                    <form id="searchForm" class="statistics-form" th:action="@{/statistics/usage}" method="get">
                        <div class="row">
                            <div class="col-12 search-table">
                                <label for="companyIdSearch" class="col-form-label">사업자<b>*</b></label>
                                <select id="companyIdSearch" class="mx-3 form-control" name="companyIdSearch">
                                    <option th:value="*{null}" th:text="'선택'"></option>
                                    <option th:each="company : ${companyList}" th:value="${company.companyId}"
                                        th:text="${company.companyName}"
                                        th:selected="${company.companyId == selectedCompanyId}"></option>
                                </select>
                            </div>
                            <div class="col-12 search-table">
                                <label for="opSearch" class="col-form-label">검색조건<b>*</b></label>
                                <select id="opSearch" class="ms-3 form-control" name="opSearch">
                                    <option th:value="*{null}" th:text="'선택'"></option>
                                    <option th:value="'stationName'" th:text="충전소명"
                                        th:selected="${selectedOpSearch == 'stationName'}"></option>
                                    <option th:value="'stationId'" th:text="충전소ID"
                                        th:selected="${selectedOpSearch == 'stationId'}"></option>
                                    <option th:value="'chargerId'" th:text="충전기ID"
                                        th:selected="${selectedOpSearch == 'chargerId'}"></option>
                                </select>
                                <input type="text" id="contentSearch" name="contentSearch" class="form-control"
                                    th:value="${selectedContentSearch}" autocomplete="off" />
                            </div>
                            <div class="col-12 search-table">
                                <label for="yearSearch" class="col-form-label">조회연도<b>*</b></label>
                                <select id="yearSearch" name="yearSearch" class="form-control mx-3">
                                    <option th:each="year : ${yearOption}" th:value="${year.value}"
                                        th:text="${year.text}" th:selected="${year.value == selectedYear}"></option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-outline-grey me-2" id="serachBtn">
                                <i class="bi bi-search me-2"></i>검색</button>
                            <button type="button" class="btn btn-outline-grey me-2" id="resetBtn"
                                onclick="replacePage('/statistics/usage')">
                                <i class="bi bi-arrow-repeat me-2"></i>초기화</button>
                        </div>
                    </form>
                    <!-- form end -->
                </div>
                <!-- card body:2 end -->
            </div>
            <!-- card:2 end -->
            <!-- card:3 start -->
            <div class="card card-shadow mt-4">
                <!-- card body:3 start -->
                <div class="card-body">
                    <!-- 조회연도 메출통계 -->
                    <div class="card-title">
                        <span class="card-title-bar"></span>
                        <span th:text="|조회연도 이용률 통계(${usage.curYear.year}년)|"></span>
                    </div>
                    <div class="w-100 table-responsive position-relative">
                        <table class="table text-center mt-2 table-bg">
                            <thead>
                                <tr class="table-border-top">
                                    <th scope="col" class="w-20"></th>
                                    <th scope="col">급속</th>
                                    <th scope="col">완속</th>
                                    <th scope="col">디스펜서</th>
                                    <th scope="col">합계</th>
                                </tr>
                            </thead>
                            <tbody id="pageList">
                                <tr>
                                    <th style="background-color: #f5f7f8;">전체 충전 횟수</th>
                                    <td th:text="${usage.curYear.fastCount}"></td>
                                    <td th:text="${usage.curYear.lowCount}"></td>
                                    <td th:text="${usage.curYear.despnCount}"></td>
                                    <td th:text="${usage.curYear.totalUsage}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="statistics-chart">
                        <canvas id="lineChart"></canvas>
                    </div>
                    <!-- 전연도 데이터 비교 -->
                    <div class="card-title mt-4"><span class="card-title-bar"></span><span>전연도 데이터 비교</span></div>
                    <div class="statistics-chart">
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
                <!-- card body:3 end -->
            </div>
            <!-- card:3 end -->
        </div>
        <!-- card body:1 end -->
    </div>
    <!-- card:1 end -->
    <script th:inline="javascript">
        var usage = /*[[${usage != null ? usage : '{}'}]]*/ {};
        var lineChartData = /*[[${lineChart != null ? lineChart : '{}'}]]*/ {};

        // line Chart
        const speedFastList = lineChartData.speedFastList.map(item => item.totalUsage);
        const speedLowList = lineChartData.speedLowList.map(item => item.totalUsage);
        const speedDespnList = lineChartData.speedDespnList.map(item => item.totalUsage);

        const lineChartConfig = [
            { label: '급속', data: speedFastList, color: '#379C6D' },
            { label: '완속', data: speedLowList, color: '#E58A10' },
            { label: '디스펜서', data: speedDespnList, color: '#EFEFEF' }
        ];

        const lineDatasets = lineChartConfig.map(item => ({
            label: item.label,
            data: item.data,
            borderColor: [item.color],
            backgroundColor: [item.color],
            fill: false
        }));

        const lineData = {
            labels: [...Array(12).keys()].map(i => `${i + 1}월`),
            datasets: lineDatasets
        }

        var ctx = document.getElementById("lineChart").getContext('2d');
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: lineData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'right',
                    },
                    filler: {
                        propagate: false,
                    }
                },
                interaction: {
                    intersect: false,
                },
                scales: {
                    x: {
                        ticks: {
                            font: {
                                size: 14,
                            }
                        },
                    },
                    y: {
                        min: 0,
                        beginAtZero: true
                    }
                }
            }
        });


        // bar Chart
        const barCharConfig = [
            { label: '급속', data: [usage.preYear.fastCount, usage.curYear.fastCount], color: '#379C6D' },
            { label: '완속', data: [usage.preYear.lowCount, usage.curYear.lowCount], color: '#E58A10' },
            { label: '디스펜서', data: [usage.preYear.despnCount, usage.curYear.despnCount], color: '#EFEFEF' }
        ];

        const barDatasets = barCharConfig.map(item => ({
            label: item.label,
            data: item.data,
            backgroundColor: [item.color],
            minBarThickness: 10,
            maxBarThickness: 200
        }));

        const barData = {
            labels: [usage.preYear.year, usage.curYear.year],
            datasets: barDatasets
        }

        var ctx = document.getElementById("barChart").getContext('2d');
        var barChart = new Chart(ctx, {
            type: 'bar',
            data: barData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'right',
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            font: {
                                size: 14,
                            }
                        },
                    },
                    y: {
                        min: 0,
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</div>

</html>