<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <!-- card:1 start -->
    <div class="card responsive-content">
        <!-- card body:1 start -->
        <div class="card-body">
            <div class="content-title"><i class="fa-solid fa-user-tie font-ico me-2"></i>회원관리 > 회원카드관리</div>
            <!-- card:2 start -->
            <div class="card card-shadow">
                <!-- card body:2 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span>검색조건</span></div>
                    <!-- form start -->
                    <form id="searchForm" class="position-relative" th:action="@{/member/tag/list}" method="get">
                        <!-- row: start -->
                        <div class="row mb-3 row-cols-2 row-cols-lg-3 g-2">
                            <div class="col d-flex align-items-center">
                                <label for="idTagSearch" class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">회원카드번호</label>
                                <input type="text" name="idTagSearch" id="idTagSearch" class="mx-3 form-control"
                                    placeholder="회원카드번호를 입력해주세요." th:value="${selectedIdTag}" autocomplete="off">
                            </div>
                            <div class="col d-flex align-items-center">
                                <label for="nameSearch" class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">회원명</label>
                                <input type="text" name="nameSearch" id="nameSearch" class="mx-3 form-control"
                                    placeholder="사용자명을 입력해주세요." th:value="${selectedName}" autocomplete="off">
                            </div>
                        </div>
                        <!-- row: end -->
                        <div class="search-btn">
                            <button type="button" class="btn btn-outline-grey me-2" id="searchBtn" onclick="searchOption()">
                                <i class="bi bi-search me-2"></i>검색</button>
                            <button type="button" class="btn btn-outline-grey me-2" id="resetBtn" onclick="replacePage('/member/tag/list')">
                                <i class="bi bi-arrow-repeat me-2"></i>초기화</button>
                        </div>
                    </form>
                </div>
                <!-- card body:2 end -->
            </div>
            <!-- card:2 end -->
            <!-- card:3 start -->
            <div class="card card-shadow mt-4">
                <!-- card body:3 start -->
                <div class="card-body btn-page-container">
                    <div class="btn-container">
                        <button class="btn btn-excel" id="excelBtn" onclick="excelDownload('/excel/download/member_tag', ['idTagSearch', 'nameSearch'])"
                            th:if="${menuAuthority.authority == 'SU' or menuAuthority.excelYn == 'Y'}">
                            <i class="bi bi-file-earmark-spreadsheet"></i>엑셀다운로드</button>
                        <div class="btn-mod" th:if="${menuAuthority.authority == 'SU' or menuAuthority.modYn == 'Y'}">
                            <button class="btn btn-data-edit" id="editBtn" data-bs-toggle="modal" data-bs-target="#dataAddModal" hidden>
                                <i class="fa-regular fa-pen-to-square"></i>수정</button>
                            <button class="btn btn-data-delete" id="deleteBtn" hidden>
                                <i class="bi bi-trash"></i>삭제</button>
                        </div>
                    </div>
                    <div class="page-container">
                        <span id="pageInfo">
                            <span th:text="'Page ' + (${currentPage + 1}) + ' of ' + ${totalPages} + ' [총 ' + ${totalCount} + '건]'"></span>
                        </span>
                        <select class="mx-3 page-select" id="size" name="size">
                            <option th:each="data : ${showListCnt}" th:value="${data.commonCode}"
                                    th:text="${data.commonCodeName}" th:selected="${data.commonCode == size}"></option>
                        </select>
                    </div>
                    <div class="w-100 table-responsive">
                        <table class="table text-center mt-3 table-bg table-hover">
                            <thead>
                                <tr class="table-border-top">
                                    <th scope="col"></th>
                                    <th scope="col">사업자</th>
                                    <th scope="col">회원명</th>
                                    <th scope="col">휴대전화</th>
                                    <th scope="col">부모IDTAG</th>
                                    <th scope="col">회원카드번호</th>
                                    <th scope="col">유효기간</th>
                                    <th scope="col">사용여부</th>
                                    <th scope="col">누적충전량(kWh)</th>
                                    <th scope="col">누적충전금액(원)</th>
                                    <th scope="col">상태</th>
                                </tr>
                            </thead>
                            <tbody id="pageList">
                                <tr th:each="member : ${memberAuthList}">
                                    <td><input type="checkbox" th:id="${member.idTag}" /></td>
                                    <td th:text="${member.companyName}"></td>
                                    <td th:text="${member.name}"></td>
                                    <td th:text="${member.phoneNo}"></td>
                                    <td th:text="${member.parentIdTag}"></td>
                                    <td th:text="${member.idTag}"></td>
                                    <td th:text="${member.expireDate}"></td>
                                    <td th:text="${member.useYn}"></td>
                                    <td th:text="${#numbers.formatDecimal(member.totalChargingPower, 1, 'COMMA', 2, 'POINT')}"></td>
                                    <td th:text="${member.totalChargingPrice}"></td>
                                    <td th:text="${member.status}"></td>
                                </tr>
                                <tr th:if="${memberAuthList.size() == 0}">
                                    <td colspan="11">조회된 데이터가 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>                 
                    </div>
                    <!-- paging navigation start -->
                    <div th:if="${memberAuthList.size() > 0}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/member/tag/list(page=0, size=${size},
                                idTagSearch=${selectedIdTag}, nameSearch=${selectedName})}"><i class="bi bi-chevron-double-left"></i></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/member/tag/list(page=${currentPage-1}, size=${size},
                                idTagSearch=${selectedIdTag}, nameSearch=${selectedName})}"><i class="bi bi-chevron-left"></i></a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
                                th:if="${i >= 0 && i < totalPages}">
                                <a class="page-link" th:href="@{/member/tag/list(page=${i}, size=${size},
                                idTagSearch=${selectedIdTag}, nameSearch=${selectedName})}"
                                th:text="${i+1}" th:classappend="${i == currentPage} ? 'active' : ''"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/member/tag/list(page=${currentPage+1}, size=${size},
                                idTagSearch=${selectedIdTag}, nameSearch=${selectedName})}"><i class="bi bi-chevron-right"></i></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/member/tag/list(page=${totalPages - 1}, size=${size},
                                idTagSearch=${selectedIdTag}, nameSearch=${selectedName})}"><i class="bi bi-chevron-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- paging navigation end -->
                </div>
                <!-- card body:3 end -->
            </div>
            <!-- card:3 end -->
        </div>
        <!-- card body:1 end -->
    </div>
    <!-- card:1 end -->

    <!-- Add Modal start -->
    <div class="modal fade" id="dataAddModal" tabindex="-1" aria-labelledby="dataAddModalLabel"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 60vw; height: 90vh;">
            <div class="modal-content mh-100 overflow-y-auto scrollbar">
                <form id="memberAuthForm">
                    <!-- modal body start -->
                    <div class="modal-body">
                        <!-- 모달 내용 -->
                        <div class="modal-title mb-2">
                            <span class="modal-title-bar"></span><span>회원카드정보</span>
                        </div>
                        <!-- table:1 start -->
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-15">회원명</th>
                                    <td class="w-35">
                                        <input type="text" name="name" id="name" class="form-control" autocomplete="off" disabled>
                                    </td>
                                    <th class="w-15">상태<b class="required-data">*</b></th>
                                    <td class="w-35">
                                        <input type="text" name="status" id="status" class="form-control" autocomplete="off" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th>회원카드번호</th>
                                    <td>
                                        <input type="number" name="idTag" id="idTag" class="form-control" autocomplete="off" disabled required>
                                    </td>
                                    <th>유효기간<b class="required-data">*</b></th>
                                    <td>
                                        <input type="date" name="expireDate" id="expireDate" class="form-control" autocomplete="off" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th>부모IDTAG<b class="required-data">*</b></th>
                                    <td>
                                        <input type="number" name="parentIdTag" id="parentIdTag" class="form-control" autocomplete="off" required>
                                    </td>
                                    <th>사용여부<b class="required-data">*</b></th>
                                    <td>
                                        <input type="radio" name="useYn" id="useYes" class="mx-3" value="Y" checked>
                                        <label for="useYes">Y</label>
                                        <input type="radio" name="useYn" id="useNo" class="mx-3" value="N">
                                        <label for="useNo">N</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>누적충전량(kWh)</th>
                                    <td>
                                        <input type="text" name="totalChargingPower" id="totalChargingPower" class="form-control"
                                                autocomplete="off" disabled>
                                    </td>
                                    <th>누적충전금액(원)</th>
                                    <td>
                                        <input type="number" name="totalChargingPrice" id="totalChargingPrice" class="form-control"
                                                autocomplete="off" disabled>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:1 end -->
                    </div>
                    <!-- modal body end -->
                    <div class="modal-footer justify-content-center border-top-none">
                        <button type="button" class="btn btn-outline-grey me-2" data-bs-dismiss="modal">취소</button>
                        <button type="button" id="modalBtn" class="btn btn-data-add">수정</button>
                    </div>
                </form>
            </div>
            <!-- modal content end -->
        </div>
        <!-- modal dialog end -->
    </div>
    <!-- Add Modal end -->

    <script type="text/javascript" th:src="@{/js/member/member_tag.js}"></script>
</div>
</html>