<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <!-- card:1 start -->
    <div class="card responsive-content">
        <!-- card body:1 start -->
        <div class="card-body">
            <div class="content-title"><i class="fa-solid fa-receipt me-2"></i><span
                    th:text="#{chgpayment.titles.main}"></span></div>
            <!-- card:2 start -->
            <div class="card card-shadow">
                <!-- card body:2 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span
                            th:text="#{chgpayment.titles.search}"></span></div>
                    <!-- form start -->
                    <form id="searchForm" class="position-relative" th:action="@{/calc/chgpayment}" method="get">
                        <!-- row:1 start -->
                        <div class="row mb-3 row-cols-2 row-cols-lg-3 g-2">
                            <div class="col d-flex align-items-center">
                                <label for="companyIdSearch"
                                    class="flex-shrink-0 col-form-label font-weight-bold text-right w-25"><span
                                        th:text="#{chgpayment.labels.company}"></span></label>
                                <select id="companyIdSearch" class="mx-3 form-control" name="companyIdSearch">
                                    <option value="" th:text="#{chgpayment.labels.select}"
                                        th:selected="${selectedCompanyId == null}">
                                    </option>
                                    <option th:each="company : ${companyList}" th:value="${company.companyId}"
                                        th:text="${company.companyName}"
                                        th:selected="${company.companyId == selectedCompanyId}"></option>
                                </select>
                            </div>
                            <div class="col d-flex align-items-center">
                                <label for="opSearch"
                                    class="flex-shrink-0 col-form-label font-weight-bold text-right w-25"><span
                                        th:text="#{chgpayment.titles.search}"></span></label>
                                <select id="opSearch" name="opSearch" class="ms-3 form-control w-40">
                                    <option value="" th:selected="${selectedOpSearch == null}"
                                        th:text="#{chgpayment.labels.select}"></option>
                                    <option value="approvalNumber" th:text="#{chgpayment.labels.appnum}"
                                        th:selected="${selectedOpSearch == 'approvalNumber'}"></option>
                                    <option value="stationName" th:text="#{chgpayment.labels.stationnm}"
                                        th:selected="${selectedOpSearch == 'stationName'}"></option>
                                    <option value="chargerId" th:text="#{chgpayment.labels.chargerid}"
                                        th:selected="${selectedOpSearch == 'chargerId'}"></option>
                                </select>
                                <input type="text" name="contentSearch" id="contentSearch" class="mx-2 form-control"
                                    th:value="${selectedContentSearch}" autocomplete="off">
                            </div>
                            <div class="col d-flex align-items-center">
                                <span class="flex-shrink-0 col-form-label font-weight-bold mr-3p text-right w-25"><span
                                        th:text="#{chgpayment.labels.paymentperiod}"></span></span>
                                <input type="month" min="1970-01" max="2199-12" th:value="${selectedStartMonth}"
                                    name="startMonthSearch" id="startMonthSearch" class="mx-3 form-control">
                                <span class="flex-shrink-0 col-form-label font-weight-bold">~</span>
                                <input type="month" min="1970-01" max="2199-12" th:value="${selectedEndMonth}"
                                    name="endMonthSearch" id="endMonthSearch" class="mx-3 form-control">
                            </div>
                        </div>
                        <div class="search-btn">
                            <button type="button" class="btn btn-outline-grey me-2" id="searchBtn"
                                onclick="searchOption()">
                                <i class="bi bi-search me-2"></i><span
                                    th:text="#{chgpayment.buttons.search}"></span></button>
                            <button type="button" class="btn btn-outline-grey me-2" id="resetBtn"
                                onclick="replacePage('/calc/chgpayment')">
                                <i class="bi bi-arrow-repeat me-2"></i><span
                                    th:text="#{chgpayment.buttons.reset}"></span></button>
                        </div>
                        <!-- row:1 end -->
                    </form>
                    <!-- form end -->
                </div>
                <!-- card body:2 end -->
            </div>
            <!-- card:2 end -->
            <!-- card:3 start -->
            <div class="card card-shadow mt-4">
                <!-- card body:3 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span
                            th:text="#{chgpayment.titles.chgpaymentInfo}"></span></div>
                    <!-- 합산 금액 표시 영역 추가 -->
                    <div class="w-100 mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <h5 class="card-title"><span th:text="#{chgpayment.labels.csmspaytot}"></span>
                                        </h5>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p class="mb-1"><span th:text="#{chgpayment.labels.appamttot}"></span>
                                                </p>
                                                <h4 class="text-primary"
                                                    th:text="${#numbers.formatInteger(summary.totalChgPrice, 0, 'COMMA')} + ' ' + #{chgpayment.labels.currency}">
                                                </h4>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="mb-1"><span
                                                        th:text="#{chgpayment.labels.cancelamttot}"></span></p>
                                                <h4 class="text-danger"
                                                    th:text="${#numbers.formatInteger(summary.totalCancelCost, 0, 'COMMA')} + ' ' + #{chgpayment.labels.currency}">
                                                </h4>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="mb-1"><span th:text="#{chgpayment.labels.finalamttot}"></span>
                                                </p>
                                                <h4 class="text-success"
                                                    th:text="${#numbers.formatInteger(summary.totalRealCost, 0, 'COMMA')} + ' ' + #{chgpayment.labels.currency}">
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <h5 class="card-title"><span th:text="#{chgpayment.labels.pgpaytot}"></span>
                                        </h5>
                                        <div class="row">
                                            <div class="col-md-4" th:with="currency=#{chgpayment.labels.currency}">
                                                <p class="mb-1"><span th:text="#{chgpayment.labels.appamttot}"></span>
                                                </p>
                                                <h4 class="text-primary"
                                                    th:text="${summary.totalPgAppAmount != null ? #numbers.formatDecimal(summary.totalPgAppAmount, 0, 'COMMA', 0, 'POINT') + ' ' + currency : '0 ' + currency}">
                                                </h4>
                                            </div>
                                            <div class="col-md-4" th:with="currency=#{chgpayment.labels.currency}">
                                                <p class="mb-1"><span
                                                        th:text="#{chgpayment.labels.cancelamttot}"></span></p>
                                                <h4 class="text-danger"
                                                    th:text="${summary.totalPgCancelAmount != null ? #numbers.formatDecimal(summary.totalPgCancelAmount, 0, 'COMMA', 0, 'POINT') + ' ' + currency : '0 ' + currency}">
                                                </h4>
                                            </div>
                                            <div class="col-md-4" th:with="currency=#{chgpayment.labels.currency}">
                                                <p class="mb-1"><span th:text="#{chgpayment.labels.finalamttot}"></span>
                                                </p>
                                                <h4 class="text-success"
                                                    th:text="${summary.totalPgPaymentAmount != null ? #numbers.formatDecimal(summary.totalPgPaymentAmount, 0, 'COMMA', 0, 'POINT') + ' ' + currency : '0 ' + currency}">
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 btn-page-area">
                        <button class="btn btn-excel" id="excelBtn" onclick="excelDownload()"
                            th:if="${menuAuthority.authority == 'SU' or menuAuthority.excelYn == 'Y'}">
                            <i class="bi bi-file-earmark-spreadsheet"></i><span
                                th:text="#{chgpayment.buttons.excel}"></span></button>
                        <span>
                            <span id="pageInfo">
                                <span
                                    th:text="'Page ' + (${currentPage + 1}) + ' of ' + ${totalPages} + ' [' + ${totalCount} + ']'"></span>
                            </span>
                            <select class="mx-3 page-select" id="size" name="size">
                                <option th:each="data : ${showListCnt}" th:value="${data.commonCode}"
                                    th:text="${data.commonCodeName}" th:selected="${data.commonCode == size}"></option>
                            </select>
                        </span>
                    </div>

                    <div class="w-100 table-responsive position-relative">
                        <table class="table text-center mt-3 table-bg table-hover"
                            style="overflow-x: auto; min-width: 2500px;">
                            <thead>
                                <tr class="table-border-top">
                                    <th scope="col" colspan="8" class="th-border-r"><span
                                            th:text="#{chgpayment.labels.csmspaydata}"></span></th>
                                    <th scope="col" colspan="7"><span th:text="#{chgpayment.labels.pgpaydata}"></span>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="col"><span th:text="#{chgpayment.labels.paymenttime}"></span></th>
                                    <th scope="col" class="th-border-lr"><span
                                            th:text="#{chgpayment.labels.company}"></span></th>
                                    <th scope="col" class="th-border-lr"><span
                                            th:text="#{chgpayment.labels.stationnm}"></span></th>
                                    <th scope="col" class="th-border-lr"><span
                                            th:text="#{chgpayment.labels.chargerid}"></span></th>
                                    <th scope="col" class="th-border-lr"><span
                                            th:text="#{chgpayment.labels.chgamt}"></span></th>
                                    <th scope="col" class="th-border-lr"><span
                                            th:text="#{chgpayment.labels.appamt}"></span></th>
                                    <th scope="col" class="th-border-lr"><span
                                            th:text="#{chgpayment.labels.cancelamt}"></span></th>
                                    <th scope="col" class="th-border-lr"><span
                                            th:text="#{chgpayment.labels.finalamt}"></span></th>
                                    <th scope="col" class="th-border-lr"><span
                                            th:text="#{chgpayment.labels.appnum}"></span></th>
                                    <th scope="col" class="th-border-lr"><span
                                            th:text="#{chgpayment.labels.appdatetime}"></span></th>
                                    <th scope="col" class="th-border-lr"><span
                                            th:text="#{chgpayment.labels.paymethod}"></span></th>
                                    <th scope="col" class="th-border-lr"><span
                                            th:text="#{chgpayment.labels.appamt}"></span></th>
                                    <th scope="col" class="th-border-lr"><span
                                            th:text="#{chgpayment.labels.cancelamt}"></span></th>
                                    <th scope="col" class="th-border-lr"><span
                                            th:text="#{chgpayment.labels.cardnum}"></span></th>
                                </tr>
                            </thead>
                            <tbody id="pageList">
                                <tr th:each="data : ${chgPaymentList}">
                                    <td th:text="${data.paymentTime}"></td>
                                    <td th:text="${data.companyName}"></td>
                                    <td th:text="${data.stationName}"></td>
                                    <td th:text="${data.chargerId}"></td>
                                    <td th:text="${#numbers.formatDecimal(data.chgAmount, 1, 2)}"></td>
                                    <td th:text="${#numbers.formatInteger(data.chgPrice, 0, 'COMMA')}"></td>
                                    <td
                                        th:text="${data.cancelCost != null && data.cancelCost > 0 ? #numbers.formatInteger(data.cancelCost, 0, 'COMMA') : '0'}">
                                    </td>
                                    <td th:text="${#numbers.formatInteger(data.realCost, 0, 'COMMA')}"></td>
                                    <td th:text="${data.pgAppNum}"></td>
                                    <td th:text="${data.pgAppTime}"></td>
                                    <td th:text="${data.pgPayType}"></td>
                                    <td
                                        th:text="${data.pgAppAmount != null ? #numbers.formatInteger(data.pgAppAmount, 0, 'COMMA') : ''}">
                                    </td>
                                    <td
                                        th:text="${data.pgCancelAmount != null ? #numbers.formatInteger(data.pgCancelAmount, 0, 'COMMA') : ''}">
                                    </td>
                                    <td
                                        th:text="${data.pgPaymentAmount != null ? #numbers.formatInteger(data.pgPaymentAmount, 0, 'COMMA') : ''}">
                                    </td>
                                    <td th:text="${data.cardNumber}"></td>
                                </tr>
                                <tr th:if="${chgPaymentList.size() == 0}">
                                    <td colspan="15" class="text-center"><span
                                            th:text="#{chgpayment.messages.nodata}"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- paging navigation start -->
                    <div th:if="${chgPaymentList.size() > 0}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link"
                                    th:href="@{/calc/chgpayment(page=0, size=${size}, companyIdSearch=${selectedCompanyId}, opSearch=${selectedOpSearch},
                                contentSearch=${selectedContentSearch}, startMonthSearch=${selectedStartMonth}, endMonthSearch=${selectedEndMonth})}">
                                    <i class="bi bi-chevron-double-left"></i></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link"
                                    th:href="@{/calc/chgpayment(page=${currentPage-1}, size=${size}, companyIdSearch=${selectedCompanyId}, opSearch=${selectedOpSearch},
                                contentSearch=${selectedContentSearch}, startMonthSearch=${selectedStartMonth}, endMonthSearch=${selectedEndMonth})}">
                                    <i class="bi bi-chevron-left"></i></a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
                                th:if="${i >= 0 && i < totalPages}">
                                <a class="page-link"
                                    th:href="@{/calc/chgpayment(page=${i}, size=${size}, companyIdSearch=${selectedCompanyId}, opSearch=${selectedOpSearch},
                                contentSearch=${selectedContentSearch}, startMonthSearch=${selectedStartMonth}, endMonthSearch=${selectedEndMonth})}"
                                    th:text="${i+1}" th:classappend="${i == currentPage} ? 'active' : ''"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link"
                                    th:href="@{/calc/chgpayment(page=${currentPage+1}, size=${size}, companyIdSearch=${selectedCompanyId}, opSearch=${selectedOpSearch},
                                contentSearch=${selectedContentSearch}, startMonthSearch=${selectedStartMonth}, endMonthSearch=${selectedEndMonth})}">
                                    <i class="bi bi-chevron-right"></i></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link"
                                    th:href="@{/calc/chgpayment(page=${totalPages - 1}, size=${size}, companyIdSearch=${selectedCompanyId}, opSearch=${selectedOpSearch},
                                contentSearch=${selectedContentSearch}, startMonthSearch=${selectedStartMonth}, endMonthSearch=${selectedEndMonth})}">
                                    <i class="bi bi-chevron-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- paging navigation end -->
                </div>
                <!-- card body:3 end -->
            </div>
            <!-- card:3 end -->
        </div>
        <!-- card body:1 end -->
    </div>
    <!-- card:1 end -->
    <script type="text/javascript" th:src="@{/js/calc/chgpayment.js}"></script>
    <script type="text/javascript" th:src="@{/js/calc/chgpayment_exceldown.js}"></script>

    <script th:inline="javascript">
        var i18n = {
            chgpayment: {
                messages: {
                    nodata: /*[[#{chgpayment.messages.nodata}]]*/ '정보가 없습니다.',
                    startmontherr: /*[[#{chgpayment.messages.startmontherr}]]*/ '시작 월은 종료 월보다 이전이어야 합니다.',
                    searchperioderr: /*[[#{chgpayment.messages.searchperioderr}]]*/ '조회 기간은 최대 2개월 까지 가능합니다.'
                }
            }
        };

        var currentLanguage = /*[[${#locale.language}]]*/ 'ko';
    </script>
    <!-- 언어 선택기 스크립트 -->
    <div th:replace="~{fragments/language-selector :: language-script}"></div>
</div>

</html>