<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <!-- card:1 start -->
    <div class="card">
        <!-- card body:1 start -->
        <div class="card-body">
            <div class="content-title mb-4 fw-bolder"><i class="fa-solid fa-gear font-ico me-2"></i>시스템 > 공지사항 관리</div>
            <!-- card:2 start -->
            <div class="card card-shadow">
                <!-- card body:2 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span>공지사항</span></div>
                    <div class="notice-detail-container">
                        <div>
                            <div th:text="|[${notice.typeName}] ${notice.title}|"></div>
                            <div>
                                <span th:text="|작성자: ${notice.userName} &nbsp;&nbsp;&nbsp; 등록일:  ${#temporals.format(notice.regDt, 'yyyy.MM.dd')}|"></span>
                                <span th:text="|조회: ${notice.views}|"></span>
                            </div>
                        </div>
                        <div th:utext="${content}"></div>
                        <div>
                            <i class="bi bi-caret-up me-2"></i>
                            <span th:if="${nextNotice != null}">
                                <a th:href="@{/system/notice/detail/{id}(id=${nextNotice.idx},page=${currentPage}, size=${size},
                                    companyIdSearch=${selectedCompanyId != null ? selectedCompanyId : ''},
                                    startDateSearch=${selectedStartDate != null ? selectedStartDate : ''},
                                    endDateSearch=${selectedEndDate != null ? selectedEndDate : ''})}"
                                    th:text="|[${nextNotice.typeName}] ${nextNotice.title}|" class="no-underline"></a>
                            </span>
                            <span th:if="${nextNotice == null}">다음글이 없습니다.</span>
                        </div>
                        <div>
                            <i class="bi bi-caret-down me-2"></i>
                            <span th:if="${previousNotice != null}">
                                <a th:href="@{/system/notice/detail/{id}(id=${previousNotice.idx}, page=${currentPage}, size=${size},
                                    companyIdSearch=${selectedCompanyId != null ? selectedCompanyId : ''},
                                    startDateSearch=${selectedStartDate != null ? selectedStartDate : ''},
                                    endDateSearch=${selectedEndDate != null ? selectedEndDate : ''})}"
                                    th:text="|[${previousNotice.typeName}] ${previousNotice.title}|" class="no-underline"></a>
                            </span>
                            <span th:if="${previousNotice == null}">이전글이 없습니다.</span>
                        </div>
                        <button type="button" class="list-btn"
                            th:data-page="${currentPage}" th:data-size="${size}" th:data-companyid="${selectedCompanyId}"
                            th:data-startdate="${selectedStartDate}" th:data-enddate="${selectedEndDate}"
                            onclick="goToList(this)"> 목록 </button>
                    </div>
                </div>
                <!-- card body:2 end -->
            </div>
            <!-- card:2 end -->
        </div>
        <!-- card body:1 end -->
    </div>
    <!-- card:1 end -->
    <script>
        function goToList(btn) {
            const urlParams = new URLSearchParams(window.location.search);
            const selectedPage = urlParams.get('page') || 0;
            const selectedSize = urlParams.get('size') || 10;
            const selectedCompanyId = urlParams.get('companyIdSearch') || '';
            const selectedStartDate = urlParams.get('startDateSearch') || '';
            const selectedEndDate = urlParams.get('endDateSearch') || '';

            window.location.href = "/system/notice/list?page=" + selectedPage +
                                "&size=" + selectedSize +
                                "&companyIdSearch=" + (selectedCompanyId) +
                                "&startDateSearch=" + encodeURIComponent(selectedStartDate) +
                                "&endDateSearch=" + encodeURIComponent(selectedEndDate);
        }
    </script>
</html>