<!-- <div th:fragment="footerFragment"> -->
<!-- <div style="background-color: #232425; padding: 10px; color: white; display: inline-block; width: 100vw; height: 10vh; position: fixed; bottom: 0;"> -->
<!-- <div style="background-color: #232425; margin-top: 8px; padding: 10px; color: white; display: inline-block; height: 6vh; width: 100vw; clear: both;"> -->
<!-- <footer style="background-color: #232425; margin-top: 8px; padding: 10px; color: white; height: 6vh; width: 100vw; clear: both; display: flex; align-items: center; justify-content: flex-start; gap: 10px; position: relative"> -->
<footer th:fragment="footerFragment">
    <span>(주)동아일렉콤 | 대표: 이정우 | 대표번호: (031) 330-5500 | 사업자등록번호: 135-81-00381 | 주소: 경기도 용인시 처인구 양지면 남곡로 16 | Copyright ⓒ
        2024. All rights reserved.</span>
    <span>
        <a href="#">개인정보처리방침</a>
    </span>
</footer>
<!-- </div> -->