<!-- <div th:fragment="footerFragment"> -->
    <!-- <div style="background-color: #232425; padding: 10px; color: white; display: inline-block; width: 100vw; height: 10vh; position: fixed; bottom: 0;"> -->
    <!-- <div style="background-color: #232425; margin-top: 8px; padding: 10px; color: white; display: inline-block; height: 6vh; width: 100vw; clear: both;"> -->
    <!-- <footer style="background-color: #232425; margin-top: 8px; padding: 10px; color: white; height: 6vh; width: 100vw; clear: both; display: flex; align-items: center; justify-content: flex-start; gap: 10px; position: relative"> -->
    <footer th:fragment="footerFragment">
        <span>동아일렉콤 | TEL: (031) 330-5500 | FAX: (031) 338-9040 | Copyright ⓒ 2024. All rights reserved.</span>
        <span>
            <a href="#">개인정보처리방침</a>
        </span>
    </footer>
<!-- </div> -->