<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" id="faviconHref" th:href="@{/img/favicon_dongah.ico?v=1}">
    <title>DAEV</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="top-nav">
        <img th:src="@{/img/dongah_white.png}" alt="logo" class="dashboard-logo">
    </div>

    <div class="content-wrapper">
        <!-- template -->
        <div style="flex-grow: 1; display: flex; width: 100%; height: 100%; padding: 90px 10px 10px 10px;">
            <div class="card responsive-content w-100">
                <div class="card-body privacy-container">
                    <p>(주)동아일렉콤은 「개인정보보호법」 제30조에 따라 고객의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리하기 위하여 다음과 같이 개인정보 처리방침을 수립·공개합니다.</p>
                    <p>(주)동아일렉콤의 개인정보처리방침은 다음과 같은 내용을 포함하고 있습니다.</p>
                    <p style="padding-left: 30px;">
                        1)	개인정보수집 및 이용목적, 수집하는 개인정보 항목<br>
                        2)	개인정보의 제3자 제공에 관한 사항<br>
                        3)	개인정보의 제공 및 처리위탁<br>
                        4)	개인정보의 처리 및 보유기간<br>
                        5)	개인정보의 파기에 관한 사항<br>
                        6)	개인정보 안전성 확보조치에 관한 사항<br>
                        7)	이용자 및 법정대리인의 권리·의무 및 그 행사방법에 관한 사항<br>
                        8)	개인정보처리방침의 변경 등에 관한 사항<br>
                        9)	개인정보 침해 등 피해구제에 관한 사항<br>
                        10)	개인정보 자동 수집 장치의 설치·운영 및 거부에 관한 사항<br>
                        11)	고지의 의무<br>
                        12)	부칙<br>
                    </p>
                    <p><b>1. 개인정보수집 및 이용목적, 수집하는 개인정보 항목</b></p>
                    <p style="padding-left: 15px;">① “개인정보”란 생존하는 개인에 관한 정보로서 당해 개인을 식별할 수 있는 정보(당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함합니다)를 말합니다.</p>
                    <p style="padding-left: 15px;">② (주)동아일렉콤은 수집된 개인정보를 다음의 목적을 위해 활용합니다.</p>
                    <p style="padding-left: 30px;">
                        1)	회원가입 및 의사소통에 관한 사항: 회원 본인확인, 부정 가입방지, 가입 의사확인, 공지사항 안내, 약관 위반 회원에 대한 이용제한 조치, 서비스의 원활한 운영에 지장을 미치는 행위 및 서비스 부정이용 행위 제재, 회원 가입 거절 사유 유무의 확인, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리 등
                    </p>
                    <p style="padding-left: 15px;">③ (주) 동아일렉콤은 위에 명시한 목적을 위해 다음과 같은 개인정보를 수집하고 있습니다.</p>
                    <p style="padding-left: 30px;">1)	회원가입시</p>
                    <p style="padding-left: 45px;">- 필수: 이름, 아이디, 비밀번호</p><br>
                    <p style="padding-left: 30px;">2)  서비스 이용 과정 중 자동 생성 수집 정보</p>
                    <p style="padding-left: 45px;">- 쿠키, 세션, 방문일시, 위치정보(지도 이용)</p>
                    <p style="padding-left: 15px;">④ (주)동아일렉콤은 이용자의 개인정보의 수집할 경우 반드시 이용자의 동의를 얻어 수집하며, 이용자의 기본적 인권을 침해할 우려가 있는 인종, 출신지, 본적지, 사상, 정치적 성향, 범죄기록, 건강상태 등의 정보는 이용자의 동의 또는 법령의 규정에 의한 경우 이외에는 수집하지 않습니다.</p>
                    <p><b>2. 개인정보의 제3자 제공에 관한 사항</b></p>
                    <p style="padding-left: 15px;">① 개인 정보 제공 항목</p>
                    <p style="padding-left: 30px;">- 성명, 생년월일, 연락처</p>
                    <p style="padding-left: 15px;">② 개인 정보를 제공 받는 자</p>
                    <p style="padding-left: 30px;">- 카카오</p>
                    <p style="padding-left: 15px;">③ 제공 받는 자의 개인 정보 보관 기간(제 3자)</p>
                    <p style="padding-left: 30px;">- 본인 인증 후 즉시 파기</p>
                    <p style="padding-left: 15px;">④ 제 3자"의 정보 보관 기간과 별개로 개인 정보를 저장</p>
                    <p style="padding-left: 30px;">- 귀하는 개인(신용)정보의 선택적인 제공에 대한 동의를 거부할 수 있습니다.</p>

                    <p><b>3. 개인정보의 제공 및 처리위탁</b></p>
                    <p style="padding-left: 15px;">① 개인정보의 제공<br>
                    (주)동아일렉콤은 이용자의 개인정보를 “1. 개인정보의 수집 및 이용 목적, 항목 및 수집 방법"에서 고지한 범위 내에서 사용하며, 원칙적으로 이용자의 개인정보를 제공하지 않습니다.
                    </p>
                    <p style="padding-left: 15px;">② 개인정보 처리의 위탁<br>
                    (주)동아일렉콤은 원활한 업무 처리를 위해서 아래와 같이 개인정보를 위탁하고 있으며, 관계 법령에 따른 위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하고 있습니다. 회사의 개인정보 위탁처리 기관 및 위탁업무 내용은 아래와 같습니다. 위탁기간은 회원의 탈퇴시 또는 위탁계약 종료시까지입니다.
                    </p>
                    <p style="padding-left: 30px;">1) 국내 위탁업체<br>
                    </p>
                    <div style="padding: 0 30px;">
                        <table class="table table-bg">
                            <thead>
                                <tr class="table-border-top">
                                    <th>제공받은 자</th>
                                    <th>제공하는 목적</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>(주)카카오</td>
                                    <td>카카오 채널을 통한 마케팅 목적 알림 메세지 발송</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p><b>4. 개인정보의 처리 및 보유기간</b></p>
                    <p style="padding-left: 15px;">① (주)동아일렉콤은 회원 가입 시 제공한 정보를 회원 가입시점부터 탈퇴 신청이 접수된 날까지 보관할 수 있습니다. 단, 개인정보 도용 등으로 인한 원치 않는 회원탈퇴 등에 대비하기 위해 회원탈퇴 요청 후 [7]일간 개인정보를 보존하고, 서비스의 부정한 이용으로 인한 분쟁을 방지하기 위한 내부 방침에 따라 서비스의 부정이용기록, 즉 이용약관 및 (주)동아일렉콤의 정책에 위배되는 행위를 한 회원의 개인정보는 1년간 보존합니다.</p>
                    <p style="padding-left: 15px;">② 단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 "회사"는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다</p>
                    <p style="padding-left: 30px;">
                        1)	계약 또는 청약철회 등에 관한 기록(전자상거래법): 5년<br>
                        2)	대금결제 및 재화 등의 서비스 등의 공급에 관한 기록(전자상거래법): 5년<br>
                        3)	소비자의 불만 또는 분쟁처리에 관한 기록(전자상거래법): 3년(다만, 민사, 형사, 행정상의 절차가 진행 중에 있는 경우에는 그 절차가 종료될 때까지)<br>
                        4)	표시/광고에 관한 기록(전자상거래법): 6개월<br>
                        5)	세법이 규정하는 모든 거래에 관한 장부 및 증빙서류(국세기본법): 5년<br>
                        6)	전자금융 거래에 관한 기록(전자금융거래법): 5년<br>
                        7)	접속에 관한 기록(통신비밀보호법): 3개월<br>
                    </p>
                    <p><b>5. 개인정보의 파기에 관한 사항</b></p>
                    <p style="padding-left: 15px;">(주)동아일렉콤은 개인정보는 처리목적 달성 또는 보유기간 경과 시에 전자적 개인정보는 영구 삭제하고 있으며, 서면 등의 개인정보는 파쇄 또는 소각 처리하고 있습니다.<br><br>
                    홈페이지 고객 문의 게시판의 개인정보는 등록한 본인이 직접 삭제할 수 있습니다. 삭제 시 영구삭제 처리됩니다. </p>
                    <p><b>6. 개인정보 안전성 확보조치에 관한 사항</b></p>
                    <p style="padding-left: 15px;">(주)동아일렉콤은 개인정보의 안전성 확보를 위하여 전자적으로 처리되는 개인정보는 방화벽 설치, 권한통제 등을 통하여 처리 하고 있고, 서면 등으로 처리하는 개인정보는 보호설비가 준비된 안전 금고 또는 캐비닛 등에 보관·관리하고 있으며, 권한이 있는 직원만이 접근할 수 있도록 하는 등 엄격하게 관리·통제하고 있습니다. </p>
                    <p><b>7. 이용자 및 법정대리인의 권리·의무 및 그 행사방법에 관한 사항</b></p>
                    <p style="padding-left: 15px;">① 이용자는 ㈜동아일렉콤에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.<br></p>
                    <p style="padding-left: 30px;">
                        1)	개인정보 열람요구<br>
                        2)	오류 등이 있을 경우 정정 요구<br>
                        3)	삭제 요구<br>
                        4)	처리정지 요구<br></p>
                    <p style="padding-left: 15px;">② 제1항에 따른 권리 행사는 ㈜동아일렉콤에 대해 서면, 전화, 전자우편 등을 통하여 하실 수 있으며 ㈜동아일렉콤은 이에 대해 지체없이 조치하겠습니다.</p>
                    <p style="padding-left: 15px;">③ 이용자가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 ㈜동아일렉콤은 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.</p>
                    <p style="padding-left: 15px;">④ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.</p>
                    <p style="padding-left: 15px;">⑤ 이용자는 개인정보 보호법 등 관계법령을 위반하여 ㈜동아일렉콤이 처리하고 있는 정보주체 본인이나 타인의 개인정보 및 사생활을 침해하여서는 아니됩니다.</p>
                    <p><b>8. 개인정보처리방침의 변경 등에 관한 사항</b></p>
                    <p style="padding-left: 15px;">(주)동아일렉콤은 「개인정보처리방침」을 변경하는 경우에는 변경 및 시행시기, 변경된 내용을 지속적으로 공개하고, 변경 전·후를 비교하여 공개 하겠습니다. </p>
                    <b>9. 개인정보 침해 등 피해구제에 관한 사항</b><p></p>
                    <p style="padding-left: 15px;">(주)동아일렉콤은 개인정보의 유출 및 권리 침해 시 고객정보 보호 담당부서를 운영하여 그 피해구제와 권익을 보장하기 위하여 최선을 다하겠습니다. </p>
                    <b>10. 개인정보 자동 수집 장치의 설치·운영 및 거부에 관한 사항</b><p></p>
                    <p style="padding-left: 15px;">① ㈜동아일렉콤은 회원의 정보를 수시로 저장하고 불러오는 "쿠키"(cookie)와 세션(session)를 사용합니다. "쿠키"는 웹사이트 이용 시 서버가 사용자의 웹브라우저에 보내는 작은 데이터 꾸러미로 회원의 컴퓨터의 하드디스크에 저장됩니다. 세션(session)은 서비스 운영에 이용되는 서버가 회원의 접속시간 동안에 회원의 정보를 서버에 저장하는 것을 의미합니다. "회사"는 다음과 같은 목적을 위해 "쿠키"와 “세션”를 사용합니다.<br>
                    이용자는 개인정보 동의를 거부할 권리가 있습니다. 다만, 거부할 경우 고객 문의 게시판을 이용할 수 없습니다.</p>
                    <p style="padding-left: 15px;">② 이용자는 "쿠키" 설치에 대한 선택권을 가지고 있으며 웹브라우저에서 옵션을 설정함으로써 모든 "쿠키"를 허용하거나, "쿠키"가 저장될 때마다 확인을 거치거나, 아니면 모든 "쿠키"의 저장을 거부할 수 있습니다. 다만, 쿠키 설치를 거부할 경우 로그인이 필요한 일부 서비스를 이용하는 것에 어려움이 있을 있습니다.</p>
                    <p><b>11. 고지의 의무</b></p>
                    <p style="padding-left: 15px;"> 개인정보처리방침이 변경되는 경우에는 "공지사항"을 통하여 변경 및 시행의 시기, 변경 내용을 공지합니다. 변경된 개인정보처리방침은 게시된 날로부터 7일 후부터 효력이 발생합니다.<br></p>
                    <p><b>12. 부칙</b></p>
                    <p style="padding-left: 15px;"> 이 개인정보 처리방침은 2025.01.01 부터 적용됩니다.<br></p>
                    <font style="padding-left: 20px;">
                        <p><b>▶ 고객정보 담당 부서</b></p>
                        <p style="padding-left: 15px;">부&nbsp;&nbsp;&nbsp;서 :  <br>
                            담당자 : <br>
                            연락처 : (031) 330-5500 <br>
                            e-mail : 
                        </p>
                    </font>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div th:replace="~{fragments/ffooter :: footerFragment}"></div>
    </div>
</body>
</html>