<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <!-- card:1 start -->
    <div class="card responsive-content">
        <!-- card body:1 start -->
        <div class="card-body">
            <div class="content-title"><i class="fa-solid fa-wrench font-ico me-2"></i>유지보수 > 장애관리</div>
            <!-- card:2 start -->
            <div class="card card-shadow">
                <!-- card body:2 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span>검색조건</span></div>
                    <!-- form start -->
                    <form class="position-relative">
                        <!-- row:1 start -->
                        <div class="row mb-3 row-cols-2 row-cols-lg-3 g-2">
                            <div class="col d-flex align-items-center">
                                <label for="business" class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">사업자</label>
                                <select id="business" class="mx-3 form-control">
                                    <option value='%'>(선택)</option>
                                    <option value="">test</option>
                                </select>
                            </div>
                            <div class="col d-flex align-items-center">
                                <label for="saerchOp" class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">검색조건</label>
                                <select id="saerchOp" class="ms-3 form-control w-40">
                                    <option value='%'>(선택)</option>
                                    <option value="">test1</option> 
                                </select>
                                <input type="text" name="" id="" class="mx-3 form-control" placeholder="" autocomplete="off">
                            </div>
                            <div class="col d-flex align-items-center">
                                <label for="" class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">처리상태</label>
                                <select id="" class="mx-3 form-control">
                                    <option value='%'>(선택)</option>
                                    <option value="">test</option>
                                </select>
                            </div>
                            <div class="col d-flex align-items-center">
                                <span class="flex-shrink-0 col-form-label font-weight-bold mr-3p text-right w-25">접수일시</span>
                                <input type="date" min="1970-01-01" max="2199-12-31" name="fromDate" id="fromDate" class="mx-3 form-control">
                                <span class="flex-shrink-0 col-form-label font-weight-bold">~</span>
                                <input type="date" min="1970-01-01" max="2199-12-31" name="toDate" id="toDate" class="mx-3 form-control">
                            </div>
                        </div>
                        <div class="search-btn">
                            <button type="button" class="btn btn-outline-grey me-2" data-bs-dismiss="modal"><i class="bi bi-search me-2"></i>검색</button>
                            <button type="button" class="btn btn-outline-grey me-2" data-bs-dismiss="modal"><i class="bi bi-arrow-repeat me-2"></i>초기화</button>
                        </div>
                        <!-- row:1 end -->
                    </form>
                    <!-- form end -->
                </div>
                <!-- card body:2 end -->
            </div>
            <!-- card:2 end -->
            <!-- card:3 start -->
            <div class="card card-shadow mt-4">
                <!-- card body:3 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span>장애 등록 현황</span></div>
                    <div class="mt-3 position-relative">
                        <button class="btn btn-data-add" data-bs-toggle="modal" data-bs-target="#dataAddModal"><i class="bi bi-plus-square me-2"></i>등록</button>
                        <button class="btn btn-data-edit" id="editBtn" disabled><i class="fa-regular fa-pen-to-square me-2"></i>수정</button>
                        <button class="btn btn-data-delete" id="deleteBtn" disabled><i class="bi bi-trash me-2"></i>삭제</button>
                        <span class="position-absolute" style="right: 0; bottom: 0;">
                            <span id="page-info"></span>
                            <select class="mx-3 page-select" id="" name="">
                                <option value='%'>10개</option>
                                <option value="">30개</option>
                                <option value="">50개</option>
                            </select>
                        </span>
                    </div>
                    <div class="w-100 table-responsive position-relative">
                        <table class="table text-center mt-3 table-bg table-hover">
                            <thead>
                                <tr class="table-border-top">
                                    <th scope="col"></th>
                                    <th scope="col">장애유형</th>
                                    <th scope="col">장애내용</th>
                                    <th scope="col">처리상태</th>
                                    <th scope="col">사업자</th>
                                    <th scope="col">충전소명</th>
                                    <th scope="col">충전기ID</th>
                                    <th scope="col">접수일시</th>
                                    <th scope="col">처리일시</th>
                                    <th scope="col">작성자ID</th>
                                </tr>
                            </thead>
                            <tbody id=""></tbody>
                        </table>                                
                    </div>
                    <div class="text-center">
                        <ul class="pagination" id=""></ul>
                    </div>
                </div>
                <!-- card body:3 end -->
            </div>
            <!-- card:3 end -->
        </div>
        <!-- card body:1 end -->
    </div>
    <!-- card:1 end -->

    <!-- Add Modal start -->
    <div class="modal fade" id="dataAddModal" tabindex="-1" aria-labelledby="dataAddModalLabel" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 60vw; height: 90vh;"> <!-- height: 90vh; -->
            <div class="modal-content mh-100 overflow-y-auto scrollbar">
                <form>
                    <!-- modal body start -->
                    <div class="modal-body">
                        <!-- 모달 내용 -->
                        <!-- table:1 start -->
                        <div class="modal-title mb-2"><span class="modal-title-bar"></span><span>충전소/충전기 정보</span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">사업자<b class="required-data">*</b></th>
                                    <td colspan="w-30">
                                        <input type="text" name="" id="" class="form-control" placeholder="" autocomplete="off" required disabled>
                                    </td>
                                    <th class="w-20">충전기ID<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <div class="mb-2" style="display: flex; align-items: center; gap: 10px;">
                                            <input type="text" name="" id="" class="form-control" placeholder="회원카드번호를 입력해주세요." required>
                                            <button class="btn btn-outline-grey" id="search-btn" style="flex: 0 0 auto; margin-left: 10px;">중복체크</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">충전소ID<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="" id="" class="form-control" placeholder="" autocomplete="off" required disabled>
                                    </td>
                                    <th class="w-20">충전소명<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="" id="" class="form-control" placeholder="" autocomplete="off" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">주소<b class="required-data">*</b></th>
                                    <td colspan="3">
                                        <input type="text" name="" id="" class="form-control" placeholder="" autocomplete="off" required disabled>
                                    </td>
                                </tr>                 
                            </tbody>
                        </table>
                        <!-- table:1 end -->
                        <!-- table:2 start -->
                        <div class="modal-title mb-2"><span class="modal-title-bar"></span><span>접수내용</span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">장애유형<b class="required-data">*</b></th>
                                    <td colspan="w-30">
                                        <select id="" class="form-control" required>
                                            <option value='%'>(선택)</option>
                                            <option value="">test</option>
                                        </select>
                                    </td>
                                    <th class="w-20">원격접속ID</th>
                                    <td class="w-30">
                                        <input type="text" name="" id="" class="form-control" placeholder="" autocomplete="off" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">장애내용<b class="required-data">*</b></th>
                                    <td colspan="3">
                                        <textarea class="form-control" name="opinion" cols="" rows="10"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">현장사진<b class="required-data">*</b><div style="font-weight: 300; font-size: small;">(jpg, png 파일만 업로드 가능)</div></th>
                                    <td colspan="3">
                                        <div class="upload-container">
                                            <div class="upload-item">
                                                <img id="imgShow1" class="upload-preview" src="" alt="Image Preview" style="display: none; width: 100px; height: 100px;"/>
                                                <input type="file" accept="image/*" onchange="loadFile(this, 'imgShow1')">
                                            </div>
                                            <div class="upload-item">
                                                <img id="imgShow2" class="upload-preview" src="" alt="Image Preview" style="display: none; width: 100px; height: 100px;"/>
                                                <input type="file" accept="image/*" onchange="loadFile(this, 'imgShow2')">
                                            </div>
                                            <div class="upload-item">
                                                <img id="imgShow3" class="upload-preview" src="" alt="Image Preview" style="display: none; width: 100px; height: 100px;"/>
                                                <input type="file" accept="image/*" onchange="loadFile(this, 'imgShow3')">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:2 end -->
                        <!-- table:3 start -->
                        <div class="modal-title mb-2"><span class="modal-title-bar"></span><span>처리상태</span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">처리상태<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <select id="" class="form-control" required>
                                            <option value='%'>(선택)</option>
                                            <option value="">test</option>
                                        </select>
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <th class="w-20">처리내용<b class="required-data">*</b></th>
                                    <td colspan="3">
                                        <textarea class="form-control" name="opinion" cols="" rows="5" style="resize: none;"></textarea>
                                    </td>
                                </tr>                 
                            </tbody>
                        </table>
                        <!-- table:3 end -->
                    </div>
                    <!-- modal body end -->
                    <div class="modal-footer justify-content-center" style="border-top: none;">
                        <button type="button" class="btn btn-outline-grey me-2" data-bs-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-data-add">등록</button>
                    </div>
                </form>              
            </div>
            <!-- modal content end -->
        </div>
        <!-- modal dialog end -->
    </div>
    <!-- Add Modal end -->
    <script type="text/javascript" th:src="@{/js/table.js}"></script>
</div>
</html>