<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <!-- card:1 start -->
    <div class="card responsive-content">
        <!-- card body:1 start -->
        <div class="card-body">
            <div class="content-title"><i class="fa-solid fa-wrench font-ico me-2"></i><span
                    th:text="#{disabilitymgm.titles.main}"></span></div>
            <!-- card:2 start -->
            <div class="card card-shadow">
                <!-- card body:2 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span
                            th:text="#{disabilitymgm.titles.search}"></span></div>
                    <!-- form start -->
                    <form id="searchForm" class="position-relative" th:action="@{/maintenance/errlist}" method="get">
                        <!-- row:1 start -->
                        <div class="row mb-3 row-cols-2 row-cols-lg-3 g-2">
                            <div class="col d-flex align-items-center">
                                <label for="companyIdSearch"
                                    class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">
                                    <span th:text="#{disabilitymgm.labels.company}"></span></label>
                                <select id="companyIdSearch" name="companyIdSearch" class="mx-3 form-control">
                                    <option th:value="null"><span th:text="#{disabilitymgm.selectopt.select}"></span>
                                    </option>
                                    <option th:each="company : ${companyList}" th:value="${company.companyId}"
                                        th:text="${company.companyName}"
                                        th:selected="${company.companyId == selectedCompanyId}"></option>
                                </select>
                            </div>
                            <div class="col d-flex align-items-center">
                                <label for="opSearch"
                                    class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">
                                    <span th:text="#{disabilitymgm.titles.search}"></span></label>
                                <select id="opSearch" name="opSearch" class="ms-3 form-control w-40">
                                    <option th:value="null" th:selected="${selectedOpSearch == null}"><span
                                            th:text="#{disabilitymgm.selectopt.select}"></span></option>
                                    <option th:value="'stationName'" th:text="#{disabilitymgm.selectopt.stationName}"
                                        th:selected="${selectedOpSearch == 'stationName'}"></option>
                                    <option th:value="'chargerId'" th:text="#{disabilitymgm.selectopt.chargerId}"
                                        th:selected="${selectedOpSearch == 'chargerId'}"></option>
                                </select>
                                <input type="text" name="contentSearch" id="contentSearch" class="mx-2 form-control"
                                    th:value="${selectedContentSearch}" autocomplete="off">
                            </div>
                            <div class="col d-flex align-items-center">
                                <label for="processStatusSearch"
                                    class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">
                                    <span th:text="#{disabilitymgm.labels.status}"></span></label>
                                <select id="processStatusSearch" name="processStatusSearch" class="mx-3 form-control">
                                    <option th:value="null"><span th:text="#{disabilitymgm.selectopt.select}"></span>
                                    </option>
                                    <option th:each="data : ${fstatList}" th:value="${data.commonCode}"
                                        th:text="${data.commonCodeName}"
                                        th:selected="${data.commonCode == selectedProcessStatus}"></option>
                                </select>
                            </div>
                            <div class="col d-flex align-items-center">
                                <span class="flex-shrink-0 col-form-label font-weight-bold mr-3p text-right w-25">
                                    <span th:text="#{disabilitymgm.labels.regDate}"></span></span>
                                <input type="date" min="1970-01-01" max="2199-12-31" th:value="${selectedStartDate}"
                                    name="startDateSearch" id="startDateSearch" class="mx-3 form-control">
                                <span class="flex-shrink-0 col-form-label font-weight-bold">~</span>
                                <input type="date" min="1970-01-01" max="2199-12-31" th:value="${selectedEndDate}"
                                    name="endDateSearch" id="endDateSearch" class="mx-3 form-control">
                            </div>
                        </div>
                        <div class="search-btn">
                            <button type="button" class="btn btn-outline-grey me-2" id="searchBtn"
                                onclick="searchOption()">
                                <i class="bi bi-search me-2"></i><span
                                    th:text="#{disabilitymgm.buttons.search}"></span></button>
                            <button type="button" class="btn btn-outline-grey me-2" id="resetBtn"
                                onclick="replacePage('/maintenance/errlist')">
                                <i class="bi bi-arrow-repeat me-2"></i><span
                                    th:text="#{disabilitymgm.buttons.reset}"></span></button>
                        </div>
                        <!-- row:1 end -->
                    </form>
                    <!-- form end -->
                </div>
                <!-- card body:2 end -->
            </div>
            <!-- card:2 end -->
            <!-- card:3 start -->
            <div class="card card-shadow mt-4">
                <!-- card body:3 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span
                            th:text="#{disabilitymgm.titles.disabilityRegStatus}"></span></div>
                    <div class="mt-3 btn-page-area">
                        <div th:if="${menuAuthority.authority == 'SU' or menuAuthority.modYn == 'Y'}">
                            <button class="btn btn-data-add" id="addBtn" data-bs-toggle="modal"
                                data-bs-target="#dataAddModal">
                                <i class="bi bi-plus-square"></i><span
                                    th:text="#{disabilitymgm.buttons.add}"></span></button>
                            <span id="buttonContainer"></span>
                        </div>
                        <span>
                            <span id="pageInfo">
                                <span
                                    th:text="'Page ' + (${currentPage + 1}) + ' of ' + ${totalPages} + ' [' + ${totalCount} + ']'"></span>
                            </span>
                            <select class="mx-3 page-select" id="size" name="size">
                                <option th:each="data : ${showListCnt}" th:value="${data.commonCode}"
                                    th:text="${data.commonCodeName}" th:selected="${data.commonCode == size}"></option>
                            </select>
                        </span>
                    </div>
                    <div class="w-100 table-responsive position-relative">
                        <table class="table text-center mt-3 table-bg table-hover">
                            <thead>
                                <tr class="table-border-top">
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"><span th:text="#{disabilitymgm.tables.errtype}"></span></th>
                                    <th scope="col"><span th:text="#{disabilitymgm.tables.errcontent}"></span></th>
                                    <th scope="col"><span th:text="#{disabilitymgm.tables.status}"></span></th>
                                    <th scope="col"><span th:text="#{disabilitymgm.tables.company}"></span></th>
                                    <th scope="col"><span th:text="#{disabilitymgm.tables.stationName}"></span></th>
                                    <th scope="col"><span th:text="#{disabilitymgm.tables.chargerId}"></span></th>
                                    <th scope="col"><span th:text="#{disabilitymgm.tables.regDate}"></span></th>
                                    <th scope="col"><span th:text="#{disabilitymgm.tables.finishDate}"></span></th>
                                    <th scope="col"><span th:text="#{disabilitymgm.tables.userId}"></span></th>
                                </tr>
                            </thead>
                            <tbody id="pageList">
                                <tr th:each="cp : ${cpList}">
                                    <td th:id="${cp.cpmaintainId}"><input type="checkbox" /></td>
                                    <td>
                                        <a th:href="@{/errlist/detail/{cpmaintainId}(cpmaintainId=${cp.cpmaintainId}, page=${currentPage}, size=${size},
                                            companyIdSearch=${selectedCompanyId != null ? selectedCompanyId : ''}, 
                                            opSearch=${selectedOpSearch != null ? selectedOpSearch : ''}, 
                                            contentSearch=${selectedContentSearch != null ? selectedContentSearch : ''},
                                            processStatusSearch=${selectedProcessStatus != null ? selectedProcessStatus : ''},
                                            startDateSearch=${selectedStartDate != null ? selectedStartDate : ''},
                                            endDateSearch=${selectedEndDate != null ? selectedEndDate : ''})}"
                                            class="no-underline">
                                            <i class="bi bi-files detail-files"></i>
                                        </a>
                                    </td>
                                    <td th:text="${cp.errorTypeName}"></td>
                                    <td th:text="${cp.errorContent}" class="text-left content-overflow"></td>
                                    <td th:text="${cp.processStatusName}"></td>
                                    <td th:text="${cp.companyName}"></td>
                                    <td th:text="${cp.stationName}"></td>
                                    <td th:text="${cp.chargerId}"></td>
                                    <td th:text="${#temporals.format(cp.regDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${#temporals.format(cp.processDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${cp.regUserId}"></td>
                                </tr>
                                <tr th:if="${cpList.size() == 0}">
                                    <td colspan="10"><span th:text="#{disabilitymgm.messages.nodata}"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- paging navigation start -->
                    <div th:if="${cpList.size() > 0}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/maintenance/errlist(page=0, size=${size}, companyIdSearch=${selectedCompanyId},
                                opSearch=${selectedOpSearch}, contentSearch=${selectedContentSearch}, processStatus=${selectedProcessStatus},
                                startDate=${selectedStartDate}, endDate=${selectedEndDate})}"><i
                                        class="bi bi-chevron-double-left"></i></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/maintenance/errlist(page=${currentPage-1}, size=${size}, companyIdSearch=${selectedCompanyId},
                                opSearch=${selectedOpSearch}, contentSearch=${selectedContentSearch}, processStatus=${selectedProcessStatus},
                                startDate=${selectedStartDate}, endDate=${selectedEndDate})}"><i
                                        class="bi bi-chevron-left"></i></a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
                                th:if="${i >= 0 && i < totalPages}">
                                <a class="page-link" th:href="@{/maintenance/errlist(page=${i}, size=${size}, companyIdSearch=${selectedCompanyId},
                                opSearch=${selectedOpSearch}, contentSearch=${selectedContentSearch}, processStatus=${selectedProcessStatus},
                                startDate=${selectedStartDate}, endDate=${selectedEndDate})}" th:text="${i+1}"
                                    th:classappend="${i == currentPage} ? 'active' : ''"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/maintenance/errlist(page=${currentPage+1}, size=${size}, companyIdSearch=${selectedCompanyId},
                                opSearch=${selectedOpSearch}, contentSearch=${selectedContentSearch}, processStatus=${selectedProcessStatus},
                                startDate=${selectedStartDate}, endDate=${selectedEndDate})}"><i
                                        class="bi bi-chevron-right"></i></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/maintenance/errlist(page=${totalPages - 1}, size=${size}, companyIdSearch=${selectedCompanyId},
                                opSearch=${selectedOpSearch}, contentSearch=${selectedContentSearch}, processStatus=${selectedProcessStatus},
                                startDate=${selectedStartDate}, endDate=${selectedEndDate})}"><i
                                        class="bi bi-chevron-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- paging navigation end -->
                </div>
                <!-- card body:3 end -->
            </div>
            <!-- card:3 end -->
        </div>
        <!-- card body:1 end -->
    </div>
    <!-- card:1 end -->

    <!-- Add Modal start -->
    <div class="modal fade" id="dataAddModal" tabindex="-1" aria-labelledby="dataAddModalLabel"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 60vw; height: 90vh;">
            <div class="modal-content mh-100 overflow-y-auto scrollbar">
                <form id="maintainForm">
                    <!-- modal body start -->
                    <div class="modal-body">
                        <!-- 모달 내용 -->
                        <!-- table:1 start -->
                        <div class="modal-title mb-2"><span class="modal-title-bar"></span><span
                                th:text="#{disabilitymgm.modal.titles.cscpInfo}"></span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20"><span th:text="#{disabilitymgm.modal.labels.company}"></span><b
                                            class="required-data">*</b></th>
                                    <td colspan="w-30">
                                        <input type="text" name="companyName" id="companyName" class="form-control"
                                            disabled>
                                    </td>
                                    <th class="w-20"><span th:text="#{disabilitymgm.modal.labels.cpid}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <div class="mb-2 display-input-btn">
                                            <input type="text" name="chargerId" id="chargerId" class="form-control"
                                                th:placeholder="#{disabilitymgm.modal.placeholders.inputcpid}" required>
                                            <button type="button" class="btn btn-outline-grey flex-btn ms-0"
                                                id="chargerIdSearchBtn"><span
                                                    th:text="#{disabilitymgm.modal.buttons.search}"></span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20"><span th:text="#{disabilitymgm.modal.labels.csid}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="stationId" id="stationId" class="form-control"
                                            disabled>
                                    </td>
                                    <th class="w-20"><span th:text="#{disabilitymgm.modal.labels.csName}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="stationName" id="stationName" class="form-control"
                                            disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20"><span th:text="#{disabilitymgm.modal.labels.address}"></span><b
                                            class="required-data">*</b></th>
                                    <td colspan="3">
                                        <input type="text" name="address" id="address" class="form-control" disabled>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:1 end -->
                        <!-- table:2 start -->
                        <div class="modal-title mb-2"><span class="modal-title-bar"></span><span
                                th:text="#{disabilitymgm.modal.titles.detailsOfApplication}"></span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20"><span th:text="#{disabilitymgm.modal.labels.errType}"></span><b
                                            class="required-data">*</b></th>
                                    <td colspan="w-30">
                                        <select id="errorType" class="form-control" required>
                                            <option th:each="data : ${frList}" th:value="${data.commonCode}"
                                                th:text="${data.commonCodeName}"></option>
                                        </select>
                                    </td>
                                    <th class="w-20"><span th:text="#{disabilitymgm.modal.labels.anydeskID}"></span>
                                    </th>
                                    <td class="w-30">
                                        <input type="text" name="" id="" class="form-control" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20"><span th:text="#{disabilitymgm.modal.labels.errcontent}"></span><b
                                            class="required-data">*</b></th>
                                    <td colspan="3">
                                        <textarea class="form-control resize-none" name="errorContent" id="errorContent"
                                            cols="" rows="10"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20"><span th:text="#{disabilitymgm.modal.labels.picture}"></span><b
                                            class="required-data">*</b>
                                        <div class="small-info"><span
                                                th:text="#{disabilitymgm.modal.labels.pictureInfo}"></span></div>
                                    </th>
                                    <td colspan="3" class="overflow-x-hidden">
                                        <div class="upload-container" id="uploadImage">
                                            <div class="upload-items">
                                                <label for="input-pictureLoc1" id="label-pictureLoc1"><span
                                                        th:text="#{disabilitymgm.modal.buttons.upload}"></span></label>
                                                <input type="file" id="input-pictureLoc1" accept="image/*"
                                                    onchange="loadFile(this, 'pictureLoc1')">
                                                <img id="pictureLoc1" class="upload-preview" src=""
                                                    alt="Image Preview" />
                                                <button type="button" id="remove-pictureLoc1"
                                                    onclick="removeImage('pictureLoc1')">X</button>
                                                <input id="existing-pictureLoc1" hidden></input>
                                            </div>
                                            <div class="upload-items">
                                                <label for="input-pictureLoc2" id="label-pictureLoc2"><span
                                                        th:text="#{disabilitymgm.modal.buttons.upload}"></span></label>
                                                <input type="file" id="input-pictureLoc2" accept="image/*"
                                                    onchange="loadFile(this, 'pictureLoc2')">
                                                <img id="pictureLoc2" class="upload-preview" src=""
                                                    alt="Image Preview" />
                                                <button type="button" id="remove-pictureLoc2"
                                                    onclick="removeImage('pictureLoc2')">X</button>
                                                <input id="existing-pictureLoc2" hidden></input>
                                            </div>
                                            <div class="upload-items">
                                                <label for="input-pictureLoc3" id="label-pictureLoc3"><span
                                                        th:text="#{disabilitymgm.modal.buttons.upload}"></span></label>
                                                <input type="file" id="input-pictureLoc3" accept="image/*"
                                                    onchange="loadFile(this, 'pictureLoc3')">
                                                <img id="pictureLoc3" class="upload-preview" src=""
                                                    alt="Image Preview" />
                                                <button type="button" id="remove-pictureLoc3"
                                                    onclick="removeImage('pictureLoc3')">X</button>
                                                <input id="existing-pictureLoc3" hidden></input>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:2 end -->
                        <!-- table:3 start -->
                        <div class="modal-title mb-2"><span class="modal-title-bar"></span><span
                                th:text="#{disabilitymgm.modal.titles.status}"></span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20"><span th:text="#{disabilitymgm.modal.titles.status}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <select id="processStatus" class="form-control" required>
                                            <option th:each="data : ${fstatList}" th:value="${data.commonCode}"
                                                th:text="${data.commonCodeName}"></option>
                                        </select>
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <th class="w-20"><span
                                            th:text="#{disabilitymgm.modal.labels.processContent}"></span></th>
                                    <td colspan="3">
                                        <textarea class="form-control resize-none" id="processContent" cols="" rows="5"
                                            disabled></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:3 end -->
                    </div>
                    <!-- modal body end -->
                    <div class="modal-footer justify-content-center border-top-none">
                        <button type="button" class="btn btn-outline-grey me-2" data-bs-dismiss="modal"><span
                                th:text="#{disabilitymgm.buttons.cancel}"></span></button>
                        <button type="submit" id="modalBtn" class="btn btn-data-add"><span
                                th:text="#{disabilitymgm.buttons.add}"></span></button>
                    </div>
                </form>
            </div>
            <!-- modal content end -->
        </div>
        <!-- modal dialog end -->
    </div>
    <!-- Add Modal end -->
    <script type="text/javascript" th:src="@{/js/maintenance/error_management.js}"></script>

    <script th:inline="javascript">
        var i18n = {
            disabilitymgm: {
                buttons: {
                    add: /*[[#{disabilitymgm.buttons.add}]]*/ '등록',
                    cancel: /*[[#{disabilitymgm.buttons.cancel}]]*/ '취소',
                    edit: /*[[#{disabilitymgm.buttons.edit}]]*/ '수정',
                    delete: /*[[#{disabilitymgm.buttons.delete}]]*/ '삭제'
                },
                messages: {
                    checkChargerId: /*[[#{disabilitymgm.messages.checkChargerId}]]*/ '충전소ID 정보를 확인해 주세요.',
                    writeProcessContent: /*[[#{disabilitymgm.messages.writeProcessContent}]]*/ '처리내용을 작성해 주세요.'
                }
            }

        };

        var currentLanguage = /*[[${#locale.language}]]*/ 'ko';
    </script>
    <!-- 언어 선택기 스크립트 -->
    <div th:replace="~{fragments/language-selector :: language-script}"></div>

</div>

</html>