<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <!-- card:1 start -->
    <div class="card responsive-content">
        <!-- card body:1 start -->
        <div class="card-body">
            <div class="content-title"><i class="fa-solid fa-headset me-2"></i>고객센터 > 1:1문의</div>
            <!-- card:2 start -->
            <div class="card card-shadow">
                <!-- card body:2 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span>검색조건</span></div>
                    <!-- form start -->
                    <form id="searchForm" class="position-relative" th:action="@{/voc}" method="get">
                        <!-- row:1 start -->
                        <div class="row mb-3 row-cols-2 row-cols-lg-3 g-2">
                            <div class="col d-flex align-items-center">
                                <label for="typeSearch"
                                    class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">문의유형</label>
                                <select id="typeSearch" name="typeSearch" class="mx-3 form-control">
                                    <option th:value="null">선택</option>
                                    <option th:each="data : ${vocTypeList}" th:value="${data.commonCode}"
                                        th:text="${data.commonCodeName}"
                                        th:selected="${data.commonCode == selectedType}"></option>
                                </select>
                            </div>
                            <div class="col d-flex align-items-center">
                                <label for="replyStatSearch"
                                    class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">조치상태</label>
                                <select id="replyStatSearch" name="replyStatSearch" class="mx-3 form-control">
                                    <option th:value="null">선택</option>
                                    <option th:each="data : ${vocStatList}" th:value="${data.commonCode}"
                                        th:text="${data.commonCodeName}"
                                        th:selected="${data.commonCode == selectedReplyStat}"></option>
                                </select>
                            </div>
                            <div class="col d-flex align-items-center">
                                <label for="nameSearch"
                                    class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">고객명</label>
                                <input type="text" name="nameSearch" id="nameSearch" class="mx-3 form-control"
                                    placeholder="고객명을 입력해주세요." th:value="${selectedName}" autocomplete="off">
                            </div>
                        </div>
                        <div class="search-btn">
                            <button type="button" class="btn btn-outline-grey me-2" id="searchBtn"
                                onclick="searchOption()">
                                <i class="bi bi-search me-2"></i>검색</button>
                            <button type="button" class="btn btn-outline-grey me-2" id="resetBtn"
                                onclick="replacePage('/voc')">
                                <i class="bi bi-arrow-repeat me-2"></i>초기화</button>
                        </div>
                        <!-- row:1 end -->
                    </form>
                    <!-- form end -->
                </div>
                <!-- card body:2 end -->
            </div>
            <!-- card:2 end -->
            <!-- card:3 start -->
            <div class="card card-shadow mt-4">
                <!-- card body:3 start -->
                <div class="card-body">
                    <div class="card-title">
                        <span class="card-title-bar"></span><span>1:1문의 리스트</span>
                    </div>
                    <div class="mt-3 btn-page-area">
                        <button class="btn btn-data-add" id="addBtn" data-bs-toggle="modal"
                            data-bs-target="#dataAddModal"
                            th:if="${menuAuthority.authority == 'SU' or menuAuthority.modYn == 'Y'}">
                            <i class="bi bi-plus-square"></i>등록</button>
                        <span>
                            <span id="pageInfo">
                                <span
                                    th:text="'Page ' + (${currentPage + 1}) + ' of ' + ${totalPages} + ' [총 ' + ${totalCount} + '건]'"></span>
                            </span>
                            <select class="mx-3 page-select" id="size" name="size">
                                <option th:each="data : ${showListCnt}" th:value="${data.commonCode}"
                                    th:text="${data.commonCodeName}" th:selected="${data.commonCode == size}"></option>
                            </select>
                        </span>
                    </div>
                    <div class="w-100 table-responsive position-relative">
                        <table class="table text-center mt-3 table-bg table-hover" id="vocTable">
                            <thead>
                                <tr class="table-border-top">
                                    <th scope="col" class="w-8">문의번호</th>
                                    <th scope="col" class="w-8">문의유형</th>
                                    <th scope="col" class="w-30">제목</th>
                                    <th scope="col" class="w-10">고객명</th>
                                    <th scope="col" class="w-12">전화번호</th>
                                    <th scope="col" class="w-8">조치상태</th>
                                    <th scope="col" class="w-12">게시일자</th>
                                    <th scope="col" class="w-12">게시자</th>
                                    <th scope="col" class="w-12">답변일자</th>
                                    <th scope="col" class="w-12">답변자</th>
                                </tr>
                            </thead>
                            <tbody id="pageList">
                                <tr th:each="voc : ${vocList}">
                                    <td th:text="${voc.vocId}" th:id="${voc.vocId}"></td>
                                    <td th:text="${voc.typeName}"></td>
                                    <td th:text="${voc.title}" class="text-left"></td>
                                    <td th:text="${voc.name}"></td>
                                    <td th:text="${voc.phoneNo}"></td>
                                    <td th:text="${voc.replyStatName}"></td>
                                    <td th:text="${#temporals.format(voc.regDt,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${voc.regUserId}"></td>
                                    <td th:text="${#temporals.format(voc.replyDt,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${voc.replyUserId}"></td>
                                </tr>
                                <tr th:if="${vocList.size() == 0}">
                                    <td colspan="8">조회된 데이터가 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- paging navigation start -->
                    <div th:if="${vocList.size() > 0}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/voc(page=0, size=${size}, typeSearch=${selectedType},
                                replyStatSearch=${selectedReplyStat}, nameSearch=${selectedName})}"><i
                                        class="bi bi-chevron-double-left"></i></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/voc(page=${currentPage-1}, size=${size}, typeSearch=${selectedType},
                                replyStatSearch=${selectedReplyStat}, nameSearch=${selectedName})}"><i
                                        class="bi bi-chevron-left"></i></a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
                                th:if="${i >= 0 && i < totalPages}">
                                <a class="page-link" th:href="@{/voc(page=${i}, size=${size}, typeSearch=${selectedType},
                                replyStatSearch=${selectedReplyStat}, nameSearch=${selectedName})}" th:text="${i+1}"
                                    th:classappend="${i == currentPage} ? 'active' : ''"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/voc(page=${currentPage+1}, size=${size}, typeSearch=${selectedType},
                                replyStatSearch=${selectedReplyStat}, nameSearch=${selectedName})}"><i
                                        class="bi bi-chevron-right"></i></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/voc(page=${totalPages - 1}, size=${size}, typeSearch=${selectedType},
                                replyStatSearch=${selectedReplyStat}, nameSearch=${selectedName})}"><i
                                        class="bi bi-chevron-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- paging navigation end -->
                </div>
                <!-- card body:3 end -->
            </div>
            <!-- card:3 end -->
        </div>
        <!-- card body:1 end -->
    </div>
    <!-- card:1 end -->

    <!-- Add Modal start -->
    <div class="modal fade" id="dataAddModal" tabindex="-1" aria-labelledby="dataAddModalLabel"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 60vw; height: 90vh;">
            <div class="modal-content mh-100 overflow-y-auto scrollbar">
                <form id="vocForm">
                    <!-- modal body start -->
                    <div class="modal-body">
                        <!-- 모달 내용 -->
                        <!-- table:1 start -->
                        <div class="modal-title mb-2 position-relative">
                            <span class="modal-title-bar"></span><span>문의 정보</span>
                            <button type="button" class="btn btn-outline-grey" id="memSearchBtn">
                                <i class="bi bi-search me-2"></i>회원정보 검색</button>
                        </div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">문의번호</th>
                                    <td class="w-30">
                                        <input type="text" name="vocId" id="vocId" class="form-control"
                                            autocomplete="off" disabled>
                                    </td>
                                    <th class="w-20">문의경로</th>
                                    <td class="w-30">
                                        <input type="text" name="channelName" id="channelName" class="form-control"
                                            value="전화" autocomplete="off" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">문의자</th>
                                    <td class="w-30">
                                        <input type="text" name="name" id="name" class="form-control" autocomplete="off"
                                            disabled>
                                        <input type="text" name="memberId" id="memberId" hidden>
                                    </td>
                                    <th class="w-20">문의자 전화번호</th>
                                    <td class="w-30">
                                        <input type="text" name="phoneNo" id="phoneNo" class="form-control"
                                            autocomplete="off" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">문의유형</th>
                                    <td class="w-30">
                                        <select id="type" name="type" class="form-control" required>
                                            <option th:each="data : ${vocTypeList}" th:value="${data.commonCode}"
                                                th:text="${data.commonCodeName}"></option>
                                        </select>
                                    </td>
                                    <th class="w-20">문의일시</th>
                                    <td class="w-30">
                                        <input type="text" name="regDt" id="regDt" class="form-control"
                                            autocomplete="off" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th>문의제목<b class="required-data">*</b></th>
                                    <td colspan="3">
                                        <input type="text" name="title" id="title" class="form-control"
                                            autocomplete="off" disabled required>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">문의내용<b class="required-data">*</b></th>
                                    <td colspan="3">
                                        <textarea class="form-control resize-none" name="content" id="content" rows="5"
                                            autocomplete="off" readonly required></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:1 end -->
                        <!-- table:2 start -->
                        <div class="modal-title mb-2"><span class="modal-title-bar"></span><span>답변 정보</span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">답변내용
                                        <div class="small-font ">(최대 300자)</div>
                                    </th>
                                    <td colspan="3">
                                        <textarea class="form-control resize-none" name="replyContent" id="replyContent"
                                            autocomplete="off" rows="10" maxlength="300" required></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:2 end -->
                    </div>
                    <!-- modal body end -->
                    <div class="modal-footer justify-content-center border-top-none">
                        <button type="button" id="modalCancelBtn" class="btn btn-outline-grey me-2"
                            data-bs-dismiss="modal">취소</button>
                        <button type="submit" id="modalBtn" class="btn btn-data-add"
                            th:if="${menuAuthority.authority == 'SU' or menuAuthority.modYn == 'Y'}">저장</button>
                    </div>
                </form>
            </div>
            <!-- modal content end -->
        </div>
        <!-- modal dialog end -->
    </div>
    <!-- Add Modal end -->

    <!-- Member Search Modal start -->
    <div class="modal fade" id="memSearchModal" tabindex="-1" aria-labelledby="memSearchModalLabel"
        style="z-index: 1056;" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 60vw;">
            <div class="modal-content overflow-y-auto scrollbar mem-search-content min-76vh">
                <div class="modal-body">
                    <div class="modal-title mb-2 position-relative">
                        <span class="modal-title-bar"></span><span>회원정보 검색</span>
                        <button type="button" class="btn btn-outline-grey" id="memInfoSearchBtn">
                            <i class="bi bi-search me-2"></i>검색</button>
                    </div>
                    <div class="row mb-3 row-cols-2 row-cols-lg-2 g-2">
                        <div class="col d-flex align-items-center">
                            <label for="memName"
                                class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">회원명</label>
                            <input type="text" name="memName" id="memName" class="ms-3 form-control"
                                placeholder="회원명을 입력해주세요." autocomplete="off">
                        </div>
                        <div class="col d-flex align-items-center">
                            <label for="memPhone"
                                class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">전화번호</label>
                            <input type="text" name="memPhone" id="memPhone" class="ms-3 form-control"
                                oninput="phoneFormat(this)" placeholder="전화번호를 입력해주세요." autocomplete="off">
                        </div>
                    </div>
                    <span class="font-sw-m">검색결과</span>
                    <div class="w-100 table-responsive scroll-table-container">
                        <table class="table table-bg table-hover" id="memTable">
                            <thead>
                                <tr>
                                    <th scope="col" class="w-120">회원명</th>
                                    <th scope="col" class="w-20">전화번호</th>
                                    <th scope="col" class="w-40">회원번호</th>
                                    <th scope="col" class="w-20"></th>
                                </tr>
                            </thead>
                            <tbody id="memSearchList">
                                <tr>
                                    <td colspan="3">조회된 데이터가 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="btn btn-outline-grey close-modal-btn" id="memModalBtn"
                        data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Member Search Modal end -->
    <script type="text/javascript" th:src="@{/js/customer/voc.js}"></script>
</div>

</html>