<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <!-- card:1 start -->
    <div class="card responsive-content">
        <!-- card body:1 start -->
        <div class="card-body">
            <div class="content-title"><i class="fa-solid fa-charging-station font-ico me-2"></i><span
                    th:text="#{cpList.titles.main}"></span></div>
            <!-- card:2 start -->
            <div class="card card-shadow">
                <!-- card body:2 start -->
                <div class="card-body">
                    <div class="detail-container">
                        <!-- table:1 start -->
                        <div class="card-title mb-2"><span class="card-title-bar"></span><span
                                th:text="#{cpList.modal.titles.stationInfo}"></span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20"><span th:text="#{cpList.titles.company}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.companyName}"></span>
                                    </td>
                                    <th class="w-20"><span th:text="#{cpList.searchOptions.stationId}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.stationId}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20"><span th:text="#{cpList.searchOptions.stationName}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.stationName}"></span>
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:1 end -->
                        <!-- table:2 start -->
                        <div class="card-title mb-2"><span class="card-title-bar"></span><span
                                th:text="#{cpList.modal.titles.chargerInfo}"></span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.chargerName}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.chargerName}"></span>
                                    </td>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.chargerId}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.chargerId}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.chargerModel}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.modelCode}"></span>
                                    </td>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.chargerKind}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.cpType}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.chargerManuf}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.manufCdName}"></span>
                                    </td>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.chargerPower}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.chgKw}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.chargerSn}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.chgSerialNo}"></span>
                                    </td>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.chargerFwver}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.fwversion}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.chargerAnydeskId}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.anydeskId}"></span>
                                    </td>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.commonType}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.commonTypeName}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.installDate}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.installDate}"></span>
                                    </td>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.plan}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.cpPlanName}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.useYn}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.useYn}"></span>
                                    </td>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.reason}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.reasonName}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.location}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.location}"></span>
                                    </td>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.dualyn}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.dualYn}"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:2 end -->
                        <!-- table:3 start -->
                        <div class="card-title mb-2"><span class="card-title-bar"></span><span
                                th:text="#{cpList.modal.titles.modemInfo}"></span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.modemSn}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.modemSerialNo}"></span>
                                    </td>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.modemNum}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.modemNo}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.modemContFromTo}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span
                                            th:text="${cpInfo.modemContractStart} + ' ~ ' + ${cpInfo.modemContractEnd}"></span>
                                    </td>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.modemPlan}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.modemPricePlan}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.modemDataCap}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.modemdataCapacity}"></span>
                                    </td>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.modemCorp}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.modemTelCorp}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20"><span th:text="#{cpList.modal.titles.modemModelName}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.modemModelName}"></span>
                                    </td>
                                    <th class="w-20"><span
                                            th:text="#{cpList.modal.titles.modemContractStatus}"></span><b
                                            class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${cpInfo.modemContractStatusNm}"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:3 end -->
                        <button type="button" class="list-btn" onclick="goToList('/charger/list',
                            ['companyIdSearch', 'manfCodeSearch', 'opSearch', 'contentSearch'])"><span
                                th:text="#{common.buttons.list}"></span></button>
                    </div>
                </div>
                <!-- card body:2 end -->
            </div>
            <!-- card:2 end -->
        </div>
        <!-- card body:1 end -->
    </div>
    <!-- card:1 end -->
    <script th:inline="javascript">
        var currentLanguage = /*[[${#locale.language}]]*/ 'ko';
    </script>

    <!-- 공통 i18n 스크립트 포함 -->
    <div th:replace="~{fragments/i18n/i18n-cp-list :: cp-list-i18n}"></div>
    <!-- 언어 선택기 스크립트 -->
    <div th:replace="~{fragments/language-selector :: language-script}"></div>
</div>

</html>