<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <!-- card:1 start -->
    <div class="card responsive-content">
        <!-- card body:1 start -->
        <div class="card-body">
            <div class="content-title"><i class="fa-solid fa-plug font-ico me-2"></i>충전기 > 충전기 리스트</div>
            <!-- card:2 start -->
            <div class="card card-shadow">
                <!-- card body:2 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span>검색조건</span></div>
                    <!-- form start -->
                    <form class="position-relative">
                        <!-- row:1 start -->
                        <div class="row mb-3 row-cols-2 row-cols-lg-3 g-2">
                            <div class="col d-flex align-items-center">
                                <label for="business" class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">사업자</label>
                                <select id="business" class="mx-3 form-control">
                                    <option value='%'>(선택)</option>
                                    <option value="">test1</option>
                                </select>
                            </div>
                            <div class="col d-flex align-items-center">
                                <label for="saerchOp" class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">검색조건</label>
                                <select id="saerchOp" class="ms-3 form-control w-40">
                                    <option value='%'>(선택)</option>
                                    <option value="">test1</option>
                                </select>
                                <input type="text" name="" id="" class="mx-3 form-control" placeholder="" autocomplete="off">
                            </div>
                            <div class="col d-flex align-items-center">
                                <label for="business" class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">제조사</label>
                                <select id="business" class="mx-3 form-control">
                                    <option value='%'>(선택)</option>
                                    <option value="">test1</option> 
                                </select>
                            </div>
                        </div>
                        <!-- row:1 end -->
                        <div class="search-btn">
                            <button type="button" class="btn btn-outline-grey me-2" data-bs-dismiss="modal"><i class="bi bi-search me-2"></i>검색</button>
                            <button type="button" class="btn btn-outline-grey me-2" data-bs-dismiss="modal"><i class="bi bi-arrow-repeat me-2"></i>초기화</button>
                        </div>
                    </form>
                </div>
                <!-- card body:2 end -->
            </div>
            <!-- card:2 end -->
            <!-- card:3 start -->
            <div class="card card-shadow mt-4">
                <!-- card body:3 start -->
                <div class="card-body">
                    <div class="position-relative">
                        <button class="btn btn-data-add" data-bs-toggle="modal" data-bs-target="#dataAddModal"><i class="bi bi-plus-square me-2"></i>등록</button>
                        <button class="btn btn-data-edit" id="editBtn" disabled><i class="fa-regular fa-pen-to-square me-2"></i>수정</button>
                        <button class="btn btn-data-delete" id="deleteBtn" disabled><i class="bi bi-trash me-2"></i>삭제</button>
                        <button class="btn btn-excel" onclick="excelDownload()">엑셀다운로드</button>
                        <span class="position-absolute" style="right: 0; bottom: 0;">
                            <span id="page-info"></span>
                            <select class="mx-3 page-select" id="" name="">
                                <option value='%'>10개</option>
                                <option value="">30개</option>
                                <option value="">50개</option>
                            </select>
                        </span>
                    </div>
                    <div class="w-100 table-responsive" >
                        <table class="table text-center mt-3 table-bg table-hover">
                            <thead>
                                <tr class="table-border-top">
                                    <th scope="col"></th>
                                    <th scope="col">사업자</th>
                                    <th scope="col">충전소명</th>
                                    <th scope="col">충전기명</th>
                                    <th scope="col">충전기ID</th>
                                    <th scope="col">공용구분</th>
                                    <th scope="col">모델명</th>
                                    <th scope="col">충전기 상태</th>
                                    <th scope="col">단가</th>
                                    <th scope="col">설치일</th>
                                    <th scope="col">제조사</th>
                                </tr>
                            </thead>
                            <tbody id="pageList"></tbody>
                        </table>                                
                    </div>
                    <div class="text-center">
                        <ul class="pagination" id="paging"></ul>
                    </div>
                </div>
                <!-- card body:3 end -->
            </div>
            <!-- card:3 end -->
        </div>
        <!-- card body:1 end -->
    </div>
    <!-- card:1 end -->

    <!-- Add Modal start -->
    <div class="modal fade" id="dataAddModal" tabindex="-1" aria-labelledby="dataAddModalLabel" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 60vw; height: 90vh;"> <!-- height: 90vh; -->
            <div class="modal-content mh-100 overflow-y-auto scrollbar">
                <form>
                <!-- modal body start -->
                <div class="modal-body">
                    <!-- 모달 내용 -->
                     <!-- table:1 start -->
                    <div class="modal-title mb-2"><span class="modal-title-bar"></span><span>충전소 정보</span></div>
                    <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                        <tbody>
                            <tr class="table-border-top">
                                <th class="w-20">사업자명<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <select id="" class="form-control" required>
                                        <option value='%'>(선택)</option>
                                        <option value="">test1</option>
                                        <option value="">test2</option>
                                    </select>
                                </td>
                                <th class="w-20">충전소명<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <input type="text" name="" id="" class="form-control" placeholder="충전소명을 입력해주세요." required>
                                </td>
                            </tr>
                            <tr>
                                <th class="w-20">충전소ID<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <input type="text" name="" id="" class="form-control" placeholder="" required disabled>
                                </td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- table:1 end -->
                    <!-- table:2 start -->
                    <div class="modal-title mb-2"><span class="modal-title-bar"></span><span>충전기 정보</span></div>
                    <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                        <tbody>
                            <tr class="table-border-top">
                                <th class="w-20">충전기 이름<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <input type="text" name="cpName" id="cpName" class="form-control" placeholder="충전기 이름을 입력하세요" required>
                                </td>
                                <th class="w-20">충전기 ID<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <input type="text" name="cpID" id="cpID" class="form-control" placeholder="" required disabled>
                                </td>
                            </tr>
                            <tr>
                                <th class="w-20">충전기 모델<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <select id="chargeModel" class="form-control" required>
                                        <option value='%'>(선택)</option>
                                        <option value="">test1</option>
                                    </select>
                                </td>
                                <th class="w-20">충전기 유형</th>
                                <td class="w-30">
                                    <input type="text" name="" id="" class="form-control" placeholder="" required disabled>
                                </td>
                            </tr>
                            <tr>
                                <th class="w-20">충전기 제조사<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <input type="text" name="" id="" class="form-control" placeholder="" required disabled>
                                </td>
                                <th class="w-20">충전기 용량<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <input type="text" name="" id="" class="form-control" placeholder="" required disabled>
                                </td>
                            </tr>
                            <tr>
                                <th class="w-20">충전기 S/N<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <input type="text" name="" id="" class="form-control" placeholder="" autocomplete="충전기 시리얼 번호를 입력해주세요" required>
                                </td>
                                <th class="w-20">F/W 버전<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <input type="text" name="" id="" class="form-control" placeholder="" autocomplete="" required disabled>
                                </td>
                            </tr>
                            <tr>
                                <th class="w-20">원격접속ID<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <input type="text" name="" id="" class="form-control" placeholder="" autocomplete="" required>
                                </td>
                                <th class="w-20">공용구분<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <select id="" class="form-control" required>
                                        <option value='%'>(선택)</option>
                                        <option value="">공용</option>
                                        <option value="">비공용</option>
                                        <option value="">부분공용</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="w-20">설치일자<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <input type="date" name="" id="" class="form-control" placeholder="" autocomplete="" required>
                                </td>
                                <th class="w-20">요금제<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <select id="" class="form-control" required>
                                        <option value='%'>(선택)</option>
                                        <option value="">동아일렉콤(완속)-요금제1</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="w-20" scope="row">충전기 상세 위치<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <input type="text" name="" id="" class="form-control" placeholder="" autocomplete="" required>
                                </td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- table:2 end -->
                    <!-- table:3 start -->
                    <div class="modal-title mb-2"><span class="modal-title-bar"></span><span>모뎀 정보</span></div>
                    <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                        <tbody>
                            <tr class="table-border-top">
                                <th class="w-20">시리얼 번호<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <div class="" style="display: flex; align-items: center; gap: 10px;">
                                        <input type="number" name="memberCardNum" id="memberCardNum" class="form-control" placeholder="" required>
                                        <button class="btn btn-outline-grey" id="search-btn" style="flex: 0 0 auto; margin-left: 10px;">중복체크</button>
                                    </div>
                                </td>
                                <th class="w-20">전화번호<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <div class="" style="display: flex; align-items: center; gap: 10px;">
                                        <input type="number" name="memberCardNum" id="memberCardNum" class="form-control" placeholder="" required>
                                        <button class="btn btn-outline-grey" id="search-btn" style="flex: 0 0 auto; margin-left: 10px;">중복체크</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="w-20">계약 기간</th>
                                <td class="d-flex align-items-center">
                                    <input type="date" min="1970-01-01" max="2199-12-31" name="fromDate" id="fromDate" class="form-control flex-grow-1" required>
                                    <span class="mx-2 flex-shrink-0 font-weight-bold">~</span>
                                    <input type="date" min="1970-01-01" max="2199-12-31" name="toDate" id="toDate" class="form-control flex-grow-1" required>
                                </td>
                                <th class="w-20">요금제<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <input type="text" name="" id="" class="form-control" placeholder="ex) OOO 요금제(5,000원)" required>
                                </td>
                            </tr>
                            <tr>
                                <th class="w-20">데이터 용량<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <input type="text" name="" id="" class="form-control" placeholder="ex) 5GB" required>
                                </td>
                                <th class="w-20">통신사<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <input type="text" name="" id="" class="form-control" placeholder="ex) SK Telecomm" required>
                                </td>
                            </tr>
                            <tr>
                                <th class="w-20">모델명<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <input type="text" name="" id="" class="form-control" placeholder="">
                                </td>
                                <th class="w-20">계약상태<b class="required-data">*</b></th>
                                <td class="w-30">
                                    <input type="text" name="" id="" class="form-control" placeholder="" required disabled>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- table:3 end -->
                    </div>
                    <!-- modal body end -->
                    <div class="modal-footer justify-content-center" style="border-top: none;">
                    <button type="button" class="btn btn-outline-grey me-2" data-bs-dismiss="modal">취소</button>
                    <button type="submit" class="btn btn-data-add">등록</button>
                    </div>
                </form>                      
            </div>
            <!-- modal content end -->
        </div>
        <!-- modal dialog end -->
    </div>
    <!-- Add Modal end -->
    <script type="text/javascript" th:src="@{/js/table.js}"></script>
</div>
</html>