<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <!-- card:1 start -->
    <div class="card responsive-content">
        <!-- card body:1 start -->
        <div class="card-body">
            <div class="content-title"><i class="fa-solid fa-battery-full me-2"></i><span
                    th:text="#{cpRealTimeList.mainTitle}"></span></div>
            <!-- card:2 start -->
            <div class="card card-shadow">
                <!-- card body:2 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span
                            th:text="#{cpRealTimeList.searchTitle}"></span></div>
                    <!-- form start -->
                    <form id="searchForm" class="position-relative" th:action="@{/charging/list}" method="get">
                        <!-- row:1 start -->
                        <div class="row mb-3 row-cols-2 row-cols-lg-3 g-2">
                            <div class="col d-flex align-items-center">
                                <label for="companyIdSearch"
                                    class="flex-shrink-0 col-form-label font-weight-bold text-right w-25"
                                    th:text="#{cpRealTimeList.labels.company}"></label>
                                <select id="companyIdSearch" class="mx-3 form-control" name="companyIdSearch">
                                    <option value="" th:text="#{cpRealTimeList.labels.select}"
                                        th:selected="${selectedCompanyId == null}">
                                    </option>
                                    <option th:each="company : ${companyList}" th:value="${company.companyId}"
                                        th:text="${company.companyName}"
                                        th:selected="${company.companyId == selectedCompanyId}"></option>
                                </select>
                            </div>
                            <div class="col d-flex align-items-center">
                                <label for="opSearch"
                                    class="flex-shrink-0 col-form-label font-weight-bold text-right w-25"
                                    th:text="#{cpRealTimeList.labels.search}"></label>
                                <select id="opSearch" name="opSearch" class="ms-3 form-control w-40">
                                    <option value="" th:selected="${selectedOpSearch == null}"
                                        th:text="#{cpRealTimeList.labels.select}"></option>
                                    <option value="stationName" th:text="#{cpRealTimeList.selectOptions.stationName}"
                                        th:selected="${selectedOpSearch == 'stationName'}"></option>
                                    <option value="stationId" th:text="#{cpRealTimeList.selectOptions.stationId}"
                                        th:selected="${selectedOpSearch == 'stationId'}"></option>
                                    <option value="chargerId" th:text="#{cpRealTimeList.selectOptions.chargerId}"
                                        th:selected="${selectedOpSearch == 'chargerId'}"></option>
                                </select>
                                <input type="text" name="contentSearch" id="contentSearch" class="mx-2 form-control"
                                    th:value="${selectedContentSearch}" autocomplete="off">
                            </div>
                            <div class="col d-flex align-items-center">
                                <span class="flex-shrink-0 col-form-label font-weight-bold mr-3p text-right w-25"
                                    th:text="#{cpRealTimeList.labels.chgStartDateTime}"></span>
                                <input type="date" min="1970-01-01" max="2199-12-31" name="chgStartTimeFrom"
                                    id="chgStartTimeFrom" class="mx-3 form-control" th:value="${selectedTimeFrom}">
                                <span class="flex-shrink-0 col-form-label font-weight-bold">~</span>
                                <input type="date" min="1970-01-01" max="2199-12-31" name="chgStartTimeTo"
                                    id="chgStartTimeTo" class="mx-3 form-control" th:value="${selectedTimeTo}">
                            </div>
                        </div>
                        <!-- row:1 end -->
                        <div class="search-btn">
                            <button type="button" class="btn btn-outline-grey me-2" id="searchBtn"
                                onclick="searchOption()">
                                <i class="bi bi-search me-2"></i><span
                                    th:text="#{cpRealTimeList.buttons.search}"></span></button>
                            <button type="button" class="btn btn-outline-grey me-2" id="resetBtn"
                                onclick="replacePage('/charging/list')">
                                <i class="bi bi-arrow-repeat me-2"></i><span
                                    th:text="#{cpRealTimeList.buttons.reset}"></span></button>
                        </div>
                    </form>
                </div>
                <!-- card body:2 end -->
            </div>
            <!-- card:2 end -->
            <!-- card:3 start -->
            <div class="card card-shadow mt-4">
                <!-- card body:3 start -->
                <div class="card-body btn-page-container">
                    <div class="btn-container">
                        <button class="btn btn-excel" onclick="excelDownload()">
                            <i class="bi bi-file-earmark-spreadsheet"></i><span
                                th:text="#{cpRealTimeList.buttons.excel}"></span></button>
                    </div>
                    <div class="page-container">
                        <span id="pageInfo">
                            <span
                                th:text="'Page ' + (${currentPage + 1}) + ' of ' + ${totalPages} + ' [' + ${totalCount} + ']'"></span>
                        </span>
                        <select class="mx-3 page-select" id="size" name="size">
                            <option th:each="data : ${showListCnt}" th:value="${data.commonCode}"
                                th:text="${data.commonCodeName}" th:selected="${data.commonCode == size}"></option>
                        </select>
                    </div>
                    <div class="w-100 table-responsive">
                        <table class="table text-center mt-3 table-bg table-hover">
                            <thead>
                                <tr class="table-border-top">
                                    <th scope="col">No</th>
                                    <th scope="col" th:text="#{cpRealTimeList.tables.company}"></th>
                                    <th scope="col" th:text="#{cpRealTimeList.tables.stationName}"></th>
                                    <th scope="col" th:text="#{cpRealTimeList.tables.stationId}"></th>
                                    <th scope="col" th:text="#{cpRealTimeList.tables.chargerId}"></th>
                                    <th scope="col" th:text="#{cpRealTimeList.tables.connectorId}"></th>
                                    <th scope="col" th:text="#{cpRealTimeList.tables.chgStartDateTime}"></th>
                                    <th scope="col" th:text="#{cpRealTimeList.tables.memberName}"></th>
                                    <th scope="col" th:text="#{cpRealTimeList.tables.memberCardNo}"></th>
                                    <th scope="col" th:text="#{cpRealTimeList.tables.chgAmount}"></th>
                                    <th scope="col" th:text="#{cpRealTimeList.tables.remainTime}"></th>
                                    <th scope="col" th:text="#{cpRealTimeList.tables.soc}"></th>
                                    <th scope="col" th:text="#{cpRealTimeList.tables.transactionId}"></th>
                                </tr>
                            </thead>
                            <tbody id="pageList">
                                <tr th:each="data, iterStat : ${chargingList}">
                                    <td th:text="${startNumber + iterStat.count}">
                                    </td>
                                    <td th:text="${data.companyName}"></td>
                                    <td th:text="${data.stationName}"></td>
                                    <td th:text="${data.stationId}"></td>
                                    <td th:text="${data.chargerId}"></td>
                                    <td th:text="${data.connectorId}"></td>
                                    <td th:text="${#temporals.format(data.chgStartTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${data.memberName}"></td>
                                    <td th:text="${data.memberCardNo}"></td>
                                    <td th:text="${data.chgAmount}"></td>
                                    <td th:text="${data.remainTime}"></td>
                                    <td th:text="${data.soc}"></td>
                                    <td th:text="${data.transactionId}"></td>
                                </tr>
                                <tr th:if="${chargingList.size() == 0}">
                                    <td colspan="12" class="text-center" th:text="#{cpRealTimeList.messages.nodata}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- paging navigation start -->
                    <div th:if="${chargingList.size() > 0}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link"
                                    th:href="@{/charging/list(page=0, size=${size}, companyIdSearch=${selectedCompanyId}, 
                                    chgStartTimeFrom=${selectedTimeFrom}, chgStartTimeTo=${selectedTimeTo}, opSearch=${selectedOpSearch}, contentSearch=${selectedContentSearch})}"><i
                                        class="bi bi-chevron-double-left"></i></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link"
                                    th:href="@{/charging/list(page=${currentPage-1}, size=${size}, companyIdSearch=${selectedCompanyId}, 
                                    chgStartTimeFrom=${selectedTimeFrom}, chgStartTimeTo=${selectedTimeTo}, opSearch=${selectedOpSearch}, contentSearch=${selectedContentSearch})}"><i
                                        class="bi bi-chevron-left"></i></a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
                                th:if="${i >= 0 && i < totalPages}">
                                <a class="page-link"
                                    th:href="@{/charging/list(page=${i}, size=${size}, companyIdSearch=${selectedCompanyId}, 
                                    chgStartTimeFrom=${selectedTimeFrom}, chgStartTimeTo=${selectedTimeTo}, opSearch=${selectedOpSearch}, contentSearch=${selectedContentSearch})}"
                                    th:text="${i+1}" th:classappend="${i == currentPage} ? 'active' : ''"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link"
                                    th:href="@{/charging/list(page=${currentPage+1}, size=${size}, companyIdSearch=${selectedCompanyId}, 
                                    chgStartTimeFrom=${selectedTimeFrom}, chgStartTimeTo=${selectedTimeTo}, opSearch=${selectedOpSearch}, contentSearch=${selectedContentSearch})}"><i
                                        class="bi bi-chevron-right"></i></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link"
                                    th:href="@{/charging/list(page=${totalPages - 1}, size=${size}, companyIdSearch=${selectedCompanyId}, 
                                    chgStartTimeFrom=${selectedTimeFrom}, chgStartTimeTo=${selectedTimeTo}, opSearch=${selectedOpSearch}, contentSearch=${selectedContentSearch})}"><i
                                        class="bi bi-chevron-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- paging navigation end -->
                </div>
                <!-- card body:3 end -->
            </div>
            <!-- card:3 end -->
        </div>
        <!-- card body:1 end -->
    </div>
    <!-- card:1 end -->
    <script type="text/javascript" th:src="@{/js/charge/charge_real_time_list.js}"></script>
    <script type="text/javascript" th:src="@{/js/charge/charginglist_excel_download.js}"></script>
    <script th:inline="javascript">
        var i18n = {
            cpRealTimeList: {
                mainTitle: /*[[#{cpRealTimeList.mainTitle}]]*/ '충전현황 > 실시간 충전기 리스트',
                searchTitle: /*[[#{cpRealTimeList.searchTitle}]]*/ '검색조건',
                selectOptions: {
                    stationName: /*[[#{cpRealTimeList.selectOptions.stationName}]]*/ '충전소명',
                    stationId: /*[[#{cpRealTimeList.selectOptions.stationId}]]*/ '충전소ID',
                    chargerId: /*[[#{cpRealTimeList.selectOptions.chargerId}]]*/ '충전기ID'
                },
                labels: {
                    select: /*[[#{cpRealTimeList.labels.select}]]*/ '선택',
                    company: /*[[#{cpRealTimeList.labels.company}]]*/ '사업자',
                    search: /*[[#{cpRealTimeList.labels.search}]]*/ '검색조건',
                    chgStartDateTime: /*[[#{cpRealTimeList.labels.chgStartDateTime}]]*/ '충전시작일시'
                },
                buttons: {
                    search: /*[[#{cpRealTimeList.buttons.search}]]*/ '검색',
                    reset: /*[[#{cpRealTimeList.buttons.reset}]]*/ '초기화',
                    excel: /*[[#{cpRealTimeList.buttons.excel}]]*/ '엑셀다운로드',
                },
                tables: {
                    company: /*[[#{cpRealTimeList.tables.company}]]*/ '사업자',
                    stationName: /*[[#{cpRealTimeList.tables.stationName}]]*/ '충전소명',
                    stationId: /*[[#{cpRealTimeList.tables.stationId}]]*/ '충전소ID',
                    chargerId: /*[[#{cpRealTimeList.tables.chargerId}]]*/ '충전기ID',
                    connectorId: /*[[#{cpRealTimeList.tables.connectorId}]]*/ '커넥터ID',
                    chgStartDateTime: /*[[#{cpRealTimeList.tables.chgStartDateTime}]]*/ '충전시작일시',
                    memberName: /*[[#{cpRealTimeList.tables.memberName}]]*/ '회원명',
                    memberCardNo: /*[[#{cpRealTimeList.tables.memberCardNo}]]*/ '회원카드번호',
                    chgAmount: /*[[#{cpRealTimeList.tables.chgAmount}]]*/ '충전량(kWh)',
                    remainTime: /*[[#{cpRealTimeList.tables.remainTime}]]*/ '남은시간',
                    soc: /*[[#{cpRealTimeList.tables.soc}]]*/ 'SOC(%)',
                    transactionId: /*[[#{cpRealTimeList.tables.transactionId}]]*/ 'TransactionID',
                },
                messages: {
                    nodata: /*[[#{cpRealTimeList.messages.nodata}]]*/ '조회된 데이터가 없습니다.',
                }
            }

        };

        var currentLanguage = /*[[${#locale.language}]]*/ 'ko';
    </script>
    <!-- 언어 선택기 스크립트 -->
    <div th:replace="~{fragments/language-selector :: language-script}"></div>
    </script>
</div>

</html>