<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <!-- card:1 start -->
    <div class="card responsive-content">
        <!-- card body:1 start -->
        <div class="card-body">
            <div class="content-title"><i class="fa-solid fa-charging-station font-ico me-2"></i>충전소 > 충전소 리스트</div>
            <!-- card:2 start -->
            <div class="card card-shadow">
                <!-- card body:2 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span>검색조건</span></div>
                    <!-- form start -->
                    <form id="searchForm" class="position-relative" th:action="@{/station/list}" method="get">
                        <!-- row:1 start -->
                        <div class="row mb-3 row-cols-2 row-cols-lg-3 g-2">
                            <div class="col d-flex align-items-center">
                                <label for="companyIdSearch" class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">사업자</label>
                                <select id="companyIdSearch" name="companyIdSearch" class="mx-3 form-control">
                                    <option th:value="null">선택</option>
                                    <option th:each="company : ${companyList}" th:value="${company.companyId}"
                                                th:text="${company.companyName}"
                                                th:selected="${company.companyId == selectedCompanyId}"></option>
                                </select>
                            </div>
                            <div class="col d-flex align-items-center">
                                <label for="opSearch" class="flex-shrink-0 col-form-label font-weight-bold text-right w-25">검색조건</label>
                                <select id="opSearch" name="opSearch" class="ms-3 form-control w-40">
                                    <option th:value="null" th:selected="${selectedOpSearch == null}">(선택)</option>
                                    <option th:value="'stationName'" th:text="충전소명" th:selected="${selectedOpSearch == 'stationName'}"></option>
                                    <option th:value="'stationId'" th:text="충전소ID" th:selected="${selectedOpSearch == 'stationId'}"></option>
                                </select>
                                <input type="text" name="contentSearch" id="contentSearch" class="mx-2 form-control"
                                    th:value="${selectedContentSearch}" autocomplete="off">
                            </div>
                        </div>
                        <!-- row:1 end -->
                        <div class="search-btn">
                            <button type="button" class="btn btn-outline-grey me-2" id="searchBtn">
                                <i class="bi bi-search me-2"></i>검색</button>
                            <button type="button" class="btn btn-outline-grey me-2" id="resetBtn">
                                <i class="bi bi-arrow-repeat me-2"></i>초기화</button>
                        </div>
                    </form>
                    <!-- form end -->
                </div>
                <!-- card body:2 end -->
            </div>
            <!-- card:2 end -->
            <!-- card:3 start -->
            <div class="card card-shadow mt-4">
                <!-- card body:3 start -->
                <div class="card-body">
                    <div class="btn-page-area">
                        <button class="btn btn-data-add" id="addBtn" data-bs-toggle="modal" data-bs-target="#dataAddModal">
                            <i class="bi bi-plus-square"></i>등록</button>
                        <button class="btn btn-data-edit" id="editBtn" data-bs-toggle="modal" data-bs-target="#dataAddModal" disabled>
                            <i class="fa-regular fa-pen-to-square"></i>수정</button>
                        <button class="btn btn-data-delete" id="deleteBtn" disabled><i class="bi bi-trash"></i>삭제</button>
                        <button class="btn btn-excel" onclick="excelDownload()">
                            <i class="bi bi-file-earmark-spreadsheet"></i>엑셀다운로드</button>
                        <span>
                            <span id="pageInfo">
                                <span th:text="'Page ' + (${currentPage + 1}) + ' of ' + ${totalPages} + ' [총 ' + ${totalCount} + '건]'"></span>
                            </span>
                            <select class="mx-3 page-select" id="size" name="size">
                                <option th:each="data : ${showListCnt}" th:value="${data.commonCode}"
                                        th:text="${data.commonCodeName}" th:selected="${data.commonCode == size}"></option>
                            </select>
                        </span>
                    </div>
                    <div class="w-100 table-responsive" >
                        <table class="table text-center mt-3 table-bg table-hover" style="min-width: 1127px;">
                            <thead>
                                <tr class="table-border-top">
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col">사업자</th>
                                    <th scope="col">충전소명</th>
                                    <th scope="col">충전소ID</th>
                                    <th scope="col">설치주소</th>
                                    <th scope="col">충전기수</th>
                                    <th scope="col">운영상태</th>
                                    <th scope="col">운영시작시간</th>
                                    <th scope="col">운영종료시간</th>
                                </tr>
                            </thead>
                            <tbody id="pageList">
                                <tr th:each="cs : ${csList}">
                                    <td th:id="${cs.stationId}"><input type="checkbox" /></td>
                                    <td>
                                        <a th:href="@{/station/list/detail/{stationId}(stationId=${cs.stationId}, page=${currentPage}, size=${size},
                                            companyIdSearch=${selectedCompanyId != null ? selectedCompanyId : ''}, 
                                            opSearch=${selectedOpSearch != null ? selectedOpSearch : ''}, 
                                            contentSearch=${selectedContentSearch != null ? selectedContentSearch : ''})}" class="no-underline">
                                            <i class="bi bi-files detail-files"></i>
                                        </a>
                                    </td>
                                    <td th:text="${cs.companyName}"></td>
                                    <td th:text="${cs.stationName}"></td>
                                    <td th:text="${cs.stationId}"></td>
                                    <td th:text="${cs.address}"></td>
                                    <td>2</td>
                                    <td th:text="${cs.opStatusName}"></td>
                                    <td th:text="${cs.openStartTime}"></td>
                                    <td th:text="${cs.openEndTime}"></td>
                                </tr>
                                <tr th:if="${csList.size() == 0}">
                                    <td colspan="10">조회된 데이터가 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- paging navigation start -->
                    <div th:if="${csList.size() > 0}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/station/list(page=0, size=${size}, companyIdSearch=${selectedCompanyId},
                                opSearch=${selectedOpSearch}, contentSearch=${selectedContentSearch})}"><i class="bi bi-chevron-double-left"></i></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/station/list(page=${currentPage-1}, size=${size}, companyIdSearch=${selectedCompanyId},
                                opSearch=${selectedOpSearch}, contentSearch=${selectedContentSearch})}"><i class="bi bi-chevron-left"></i></a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
                                th:if="${i >= 0 && i < totalPages}">
                                <a class="page-link" th:href="@{/station/list(page=${i}, size=${size}, companyIdSearch=${selectedCompanyId},
                                opSearch=${selectedOpSearch}, contentSearch=${selectedContentSearch})}"
                                th:text="${i+1}" th:classappend="${i == currentPage} ? 'active' : ''"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/station/list(page=${currentPage+1}, size=${size}, companyIdSearch=${selectedCompanyId},
                                opSearch=${selectedOpSearch}, contentSearch=${selectedContentSearch})}"><i class="bi bi-chevron-right"></i></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/station/list(page=${totalPages - 1}, size=${size}, companyIdSearch=${selectedCompanyId},
                                opSearch=${selectedOpSearch}, contentSearch=${selectedContentSearch})}"><i class="bi bi-chevron-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- paging navigation end -->
                </div>
                <!-- card body:3 end -->
            </div>
            <!-- card:3 end -->
        </div>
        <!-- card body:1 end -->
    </div>
    <!-- card:1 end -->

    <!-- Add Modal start -->
    <div class="modal fade" id="dataAddModal" tabindex="-1" aria-labelledby="dataAddModalLabel"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 60vw; height: 90vh;">
            <div class="modal-content mh-100 overflow-y-auto scrollbar">
                <!-- form start -->
                <form th:object="${csRegDto}">
                    <!-- modal body start -->
                    <div class="modal-body">
                        <!-- table:1 start -->
                        <div class="modal-title mb-2"><span class="modal-title-bar"></span><span>사업자 정보</span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">사업자<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <select id="companyId" name="companyId" class="form-control attr-control" required>
                                            <option th:each="company : ${companyList}" th:value="${company.companyId}"
                                                    th:text="${company.companyName}" ></option>
                                        </select>
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:1 end -->
                        <!-- table:2 start -->
                        <div class="modal-title mb-2"><span class="modal-title-bar"></span><span>충전소 정보</span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">충전소 이름<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <div class="display-input-btn">
                                            <input type="text" name="stationName" id="stationName" class="form-control attr-control" required>
                                            <button type="button" class="btn btn-outline-grey flex-btn attr-control" id="duplicateBtn">중복체크</button>
                                        </div>
                                    </td>
                                    <th class="w-20">충전소ID<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="stationId" id="stationId" class="form-control" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">충전소 유형<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <select id="stationType" name="stationType" class="form-control attr-control" required>
                                            <option th:each="data : ${csFacility}" th:value="${data.commonCode}"
                                                    th:text="${data.commonCodeName}" ></option>
                                        </select>
                                    </td>
                                    <th class="w-20">충전소 시설 구분<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <select id="facilityType" name="facilityType" class="form-control attr-control" required>
                                            <option th:each="data : ${csFSub}" th:value="${data.commonCode}"
                                                    th:text="${data.commonCodeName}" ></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">문의전화<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="number" name="asNum" id="asNum" class="form-control attr-control" autocomplete="off" required>
                                    </td>
                                    <th class="w-20">운영상태<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <select id="opStatus" name="opStatus" class="form-control attr-control" required>
                                            <option th:each="data : ${opStepCd}" th:value="${data.commonCode}"
                                                    th:text="${data.commonCodeName}" ></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">주소<b class="required-data">*</b></th>
                                    <td class="w-30" colspan="3">
                                        <div class="address-container mb-2 display-input-btn">
                                            <input type="text" name="zipCode" id="zipCode" class="form-control w-25" disabled>
                                            <button class="btn btn-outline-grey flex-btn attr-control" id="search-btn" onclick="postSearch()">주소 검색</button>
                                        </div>
                                        <input type="text" name="address" id="address" class="form-control mb-2" autocomplete="off" disabled>
                                        <input type="text" name="addressDetail" id="addressDetail" class="form-control attr-control"
                                            placeholder="상세 주소" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">위도<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="latitude" id="latitude" class="form-control" autocomplete="off" required disabled>
                                    </td>
                                    <th class="w-20">경도<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="longtude" id="longtude" class="form-control" autocomplete="off" required disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20" scope="row">운영시간<b class="required-data">*</b></th>
                                    <td class="" style="display: flex; align-items: center;">
                                        <input type="time" name="openStartTime" id="openStartTime" class="form-control attr-control" placeholder="시작 시간">
                                        <span class="flex-shrink-0 col-form-label font-weight-bold">~</span>
                                        <input type="time" name="openEndTime" id="openEndTime" class="form-control attr-control" placeholder="종료 시간">
                                    </td>
                                    <td colspan="2" class="text-left">
                                        <input type="checkbox" id="openingAllTime" class="attr-control">
                                        <label for="openingAllTime">24시간 운영</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20" scope="row">주차요금 정보</th>
                                    <td>
                                        <div class="display-radio">
                                            <input type="radio" name="parkingFeeYn" id="parkingFeeYes" class="attr-control" value="Y">
                                            <label for="parkingFeeYes">유료</label>
                                            <input type="radio" name="parkingFeeYn" id="parkingFeeNo" class="attr-control" value="N" checked>
                                            <label for="parkingFeeNo">무료</label>
                                        </div>
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:2 end -->
                        <!-- table:3 start -->
                        <div class="modal-title mb-2"><span class="modal-title-bar"></span><span>부지 정보</span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">계약기관 명<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="institutionName" id="institutionName" class="form-control attr-control"
                                            autocomplete="off" required>
                                    </td>
                                    <th class="w-20">계약 부지 구분<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <select id="landType" name="landType" class="form-control attr-control" required>
                                            <option th:each="data : ${landType}" th:value="${data.commonCode}"
                                                    th:text="${data.commonCodeName}" ></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">담당자 명</th>
                                    <td class="d-flex align-items-center">
                                        <input type="text" name="staffName" id="staffName" class="form-control attr-control" autocomplete="off">
                                    </td>
                                    <th class="w-20">담당자 연락처</th>
                                    <td class="w-30">
                                        <input type="text" name="staffPhone" id="staffPhone" class="form-control attr-control" maxlength="13" oninput="phoneFormat(this)"
                                            autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">계약일자</th>
                                    <td class="w-30">
                                        <input type="date" min="1970-01-01" max="2199-12-31" name="contractDate" id="contractDate" class="form-control attr-control">
                                    </td>
                                    <th class="w-20">계약기간<b class="required-data">*</b></th>
                                    <td class="input-date-container">
                                        <input type="date" min="1970-01-01" max="2199-12-31" name="startDate" id="startDate"
                                            class="form-control attr-control" required>
                                        <span class="flex-shrink-0 col-form-label font-weight-bold">~</span>
                                        <input type="date" min="1970-01-01" max="2199-12-31" name="endDate" id="endDate"
                                            class="form-control attr-control" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">부지사용료율<b class="required-data">*</b></th>
                                    <td class="d-flex align-items-center">
                                        <input type="number" name="landUseRate" id="landUseRate" class="form-control attr-control" maxlength="3" autocomplete="off">
                                        <span class="mx-2 flex-shrink-0 font-weight-bold">%</span>
                                    </td>
                                    <th class="w-20">계산서 발행일<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="date" min="1970-01-01" max="2199-12-31" name="billDate"
                                            id="billDate" class="form-control attr-control" required>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:3 end -->
                        <!-- table:4 start -->
                        <div class="modal-title mb-2"><span class="modal-title-bar"></span><span>한전 계약정보</span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">한전 고객 번호<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="number" name="kepcoCustNo" id="kepcoCustNo" class="form-control attr-control" required>
                                    </td>
                                    <th class="w-20">개통일<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="date" min="1970-01-01" max="2199-12-31" name="openingDate"
                                            id="openingDate" class="form-control attr-control" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">계약전력<b class="required-data">*</b></th>
                                    <td class="d-flex align-items-center">
                                        <input type="number" name="contPower" id="contPower" class="form-control attr-control" required>
                                    </td>
                                    <th class="w-20">수전방식</th>
                                    <td class="w-30">
                                        <select id="rcvCapacityMethod" name="rcvCapacityMethod" class="form-control attr-control" required>
                                            <option th:value="null">(선택)</option>
                                            <option th:each="data : ${faucetType}" th:value="${data.commonCode}"
                                                    th:text="${data.commonCodeName}" ></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">수전용량</th>
                                    <td class="w-30">
                                        <input type="number" name="rcvCapacity" id="rcvCapacity" class="form-control attr-control">
                                    </td>
                                    <th class="w-20">전압종류</th>
                                    <td class="w-30">
                                        <select id="voltageType" name="voltageType" class="form-control attr-control" required>
                                            <option th:value="null">(선택)</option>
                                            <option th:each="data : ${powerType}" th:value="${data.commonCode}"
                                                    th:text="${data.commonCodeName}" ></option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:4 end -->
                    </div>
                    <!-- modal body end -->
                    <div class="modal-footer justify-content-center border-top-none">
                        <button type="button" id="modalCancel" class="btn btn-outline-grey me-2" data-bs-dismiss="modal">취소</button>
                        <button type="button" id="modalClose" class="btn btn-outline-grey me-2" data-bs-dismiss="modal" hidden>닫기</button>
                        <button type="button" id="modalBtn" class="btn btn-data-add">등록</button>
                    </div>
                </form>
                <!-- form end -->
            </div>
            <!-- modal content end -->
        </div>
        <!-- modal dialog end -->
    </div>
    <!-- Add Modal end -->
    <script type="text/javascript" th:src="@{/js/table.js}"></script>
    <script type="text/javascript" th:src="@{/js/charge/cs_list.js}"></script>
</div>
</html>