<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <!-- card:1 start -->
    <div class="card responsive-content">
        <!-- card body:1 start -->
        <div class="card-body">
            <div class="content-title"><i class="fa-solid fa-charging-station font-ico me-2"></i>충전소 > 충전소 리스트</div>
            <!-- card:2 start -->
            <div class="card card-shadow">
                <!-- card body:2 start -->
                <div class="card-body">
                    <div class="detail-container">
                        <!-- table:1 start -->
                        <div class="card-title mb-2"><span class="card-title-bar"></span><span>사업자 정보</span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">사업자<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.companyName}"></span>
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:1 end -->
                        <!-- table:2 start -->
                        <div class="card-title mb-2"><span class="card-title-bar"></span><span>충전소 정보</span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">충전소 이름<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.stationName}"></span>
                                    </td>
                                    <th class="w-20">충전소ID<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.stationId}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">충전소 유형<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.stationTypeName}"></span>
                                    </td>
                                    <th class="w-20">충전소 시설 구분<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.facilityTypeName}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">문의전화<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.asNum}"></span>
                                    </td>
                                    <th class="w-20">운영상태<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.opStatusName}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">주소<b class="required-data">*</b></th>
                                    <td class="w-30" colspan="3">
                                        <div class="address-detail-container">
                                            <span th:text="'[' + ${csInfo.zipcode} + '] ' + ${csInfo.address}"></span>
                                            <span th:if="${csInfo.addressDetail != null and !csInfo.addressDetail.isEmpty()}" th:text="', ' + ${csInfo.addressDetail}"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">위도<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.latitude}"></span>
                                    </td>
                                    <th class="w-20">경도<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.longitude}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20" scope="row">운영시간<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.openStartTimeFormatted + ' ~ ' + csInfo.openEndTimeFormatted}"></span>
                                    </td>
                                    <th class="w-20" scope="row">주차요금 정보</th>
                                    <td>
                                        <input type="radio" name="parkingFeeYn" id="parkingFeeYes" value="Y" 
                                            th:checked="${csInfo.parkingFeeYn == 'Y'}" th:disabled="true">
                                        <label for="parkingFeeYes" class="me-4">유료</label>
                                        <input type="radio" name="parkingFeeYn" id="parkingFeeNo" value="N"
                                            th:checked="${csInfo.parkingFeeYn == 'N'}" th:disabled="true">
                                        <label for="parkingFeeNo">무료</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:2 end -->
                        <!-- table:3 start -->
                        <div class="card-title mb-2"><span class="card-title-bar"></span><span>부지 정보</span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">계약기관 명<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.institutionName}"></span>
                                    </td>
                                    <th class="w-20">계약 부지 구분<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.landTypeName}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">담당자 명</th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.staffName}"></span>
                                    </td>
                                    <th class="w-20">담당자 연락처</th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.staffPhone}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">계약일자</th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.contractDateString}"></span>
                                    </td>
                                    <th class="w-20">계약기간<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.startDate} + ' ~ ' +  ${csInfo.endDate}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">부지사용료율(%)<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.landUseRate}"></span>
                                    </td>
                                    <th class="w-20">계산서 발행일</th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.billDateString}"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:3 end -->
                        <!-- table:4 start -->
                        <div class="card-title mb-2"><span class="card-title-bar"></span><span>한전 계약정보</span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">한전 고객 번호<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.kepcoCustNo}"></span>
                                    </td>
                                    <th class="w-20">개통일<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.openingDate}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">계약전력(kW)<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.contPower}"></span>
                                    </td>
                                    <th class="w-20">수전방식</th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.rcvCapacityMethodName}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">수전용량(kVA)</th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.rcvCapacityString}"></span>
                                    </td>
                                    <th class="w-20">가입요금제</th>
                                    <td class="w-30">
                                        <span th:text="${csInfo.voltageTypeName}"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:4 end -->
                        <!-- <div class="next-article">
                            <i class="bi bi-caret-up me-2"></i>
                            <span th:if="${nextCsInfo != null}">
                                <a th:href="@{/station/list/detail/{stationId}(stationId=${nextCsInfo.stationId},page=${currentPage}, size=${size},
                                    companyIdSearch=${selectedCompanyId != null ? selectedCompanyId : ''},
                                    opSearch=${selectedOpSearch != null ? selectedOpSearch : ''},
                                    contentSearch=${selectedContentSearch != null ? selectedContentSearch : ''})}"
                                    th:text="|[${nextCsInfo.stationId}] ${nextCsInfo.stationName}(${nextCsInfo.companyName})|" class="no-underline"></a>
                            </span>
                            <span th:if="${nextCsInfo == null}">다음글이 없습니다.</span>
                        </div>
                        <div class="previous-article">
                            <i class="bi bi-caret-down me-2"></i>
                            <span th:if="${previousCsInfo != null}">
                                <a th:href="@{/station/list/detail/{stationId}(stationId=${previousCsInfo.stationId}, page=${currentPage}, size=${size},
                                    companyIdSearch=${selectedCompanyId != null ? selectedCompanyId : ''},
                                    opSearch=${selectedOpSearch != null ? selectedOpSearch : ''},
                                    contentSearch=${selectedContentSearch != null ? selectedContentSearch : ''})}"
                                    th:text="|[${previousCsInfo.stationId}] ${previousCsInfo.stationName}(${previousCsInfo.companyName})|" class="no-underline"></a>
                            </span>
                            <span th:if="${previousCsInfo == null}">이전글이 없습니다.</span>
                        </div> -->
                        <button type="button" class="list-btn"
                            th:data-page="${currentPage}" th:data-size="${size}" th:data-companyid="${selectedCompanyId}"
                            th:data-startdate="${selectedOpSearch}" th:data-enddate="${selectedContentSearch}"
                            onclick="goToList(this)"> 목록 </button>
                    </div>
                </div>
                <!-- card body:2 end -->
            </div>
            <!-- card:2 end -->
        </div>
        <!-- card body:1 end -->
    </div>
    <!-- card:1 end -->
    <script>
        function goToList(btn) {
            const urlParams = new URLSearchParams(window.location.search);
            const selectedPage = urlParams.get('page') || 0;
            const selectedSize = urlParams.get('size') || 10;
            const selectedCompanyId = urlParams.get('companyIdSearch') || '';
            const selectedOpSearch = urlParams.get('opSearch') || '';
            const selectedContentSearch = urlParams.get('contentSearch') || '';

            window.location.href = "/station/list?page=" + selectedPage +
                                "&size=" + selectedSize +
                                "&companyIdSearch=" + (selectedCompanyId) +
                                "&opSearch=" + encodeURIComponent(selectedOpSearch) +
                                "&contentSearch=" + encodeURIComponent(selectedContentSearch);
        }
    </script>
</div>
</html>