<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <!-- card:1 start -->
    <div class="card responsive-content">
        <!-- card body:1 start -->
        <div class="card-body">
            <div class="content-title"><i class="fa-solid fa-clipboard-list font-ico me-2"></i><span
                    th:text="#{commhist.titles.main}"></span></div>
            <!-- card:2 start -->
            <div class="card card-shadow">
                <!-- card body:2 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span
                            th:text="#{commhist.titles.search}"></span></div>
                    <!-- form start -->
                    <form id="searchForm" class="position-relative" th:action="@{/history/comm}" method="get">
                        <!-- row:1 start -->
                        <div class="row mb-3 row-cols-2 row-cols-lg-3 g-2">
                            <div class="col d-flex align-items-center">
                                <label for="opSearch"
                                    class="flex-shrink-0 col-form-label font-weight-bold text-right w-25"><span
                                        th:text="#{commhist.titles.search}"></span></label>
                                <select id="opSearch" name="opSearch" class="ms-3 form-control w-40">
                                    <option value="" th:selected="${selectedOpSearch == null}"
                                        th:text="#{commhist.selectopt.select}"></option>
                                    <option value="action" th:text="#{commhist.selectopt.message}"
                                        th:selected="${selectedOpSearch == 'action'}">
                                    </option>
                                    <option value="chargerId" th:text="#{commhist.selectopt.chargerid}"
                                        th:selected="${selectedOpSearch == 'chargerId'}"></option>
                                    <option value="uuid" th:text="#{commhist.selectopt.uuid}"
                                        th:selected="${selectedOpSearch == 'uuid'}">
                                    </option>
                                </select>
                                <input type="text" name="contentSearch" id="contentSearch" class="mx-2 form-control"
                                    th:value="${selectedContentSearch}" autocomplete="off">
                            </div>
                            <div class="col d-flex align-items-center">
                                <span class="flex-shrink-0 col-form-label font-weight-bold mr-3p text-right w-25"><span
                                        th:text="#{commhist.labels.searchperiod}"></span></span>
                                <input type="date" min="1970-01-01" max="2199-12-31" th:value="${selectedRecvFrom}"
                                    name="recvFromSearch" id="recvFromSearch" class="mx-3 form-control">
                                <span class="flex-shrink-0 col-form-label font-weight-bold">~</span>
                                <input type="date" min="1970-01-01" max="2199-12-31" th:value="${selectedRecvTo}"
                                    name="recvToSearch" id="recvToSearch" class="mx-3 form-control">
                            </div>
                        </div>
                        <div class="search-btn">
                            <button type="button" class="btn btn-outline-grey me-2" id="searchBtn"
                                onclick="searchOption()">
                                <i class="bi bi-search me-2"></i><span
                                    th:text="#{commhist.buttons.search}"></span></button>
                            <button type="button" class="btn btn-outline-grey me-2" id="resetBtn"
                                onclick="replacePage('/history/comm')">
                                <i class="bi bi-arrow-repeat me-2"></i><span
                                    th:text="#{commhist.buttons.reset}"></span></button>
                        </div>
                        <!-- row:1 end -->
                    </form>
                    <!-- form end -->
                </div>
                <!-- card body:2 end -->
            </div>
            <!-- card:2 end -->
            <!-- card:3 start -->
            <div class="card card-shadow mt-4">
                <!-- card body:3 start -->
                <div class="card-body">
                    <div class="card-title">
                        <span class="card-title-bar"></span><span th:text="#{commhist.titles.commlist}"></span>
                    </div>
                    <div class="mt-3 btn-page-area">
                        <span>
                            <span id="pageInfo">
                                <span
                                    th:text="'Page ' + (${currentPage + 1}) + ' of ' + ${totalPages} + ' [' + ${totalCount} + ']'"></span>
                            </span>
                            <select class="mx-3 page-select" id="size" name="size">
                                <option th:each="data : ${showListCnt}" th:value="${data.commonCode}"
                                    th:text="${data.commonCodeName}" th:selected="${data.commonCode == size}"></option>
                            </select>
                        </span>
                    </div>
                    <div class="w-100 table-responsive position-relative">
                        <div style="overflow-x: auto; white-space: nowrap;">
                            <table class="table text-center mt-3 table-bg table-hover"
                                style="overflow-x: auto; min-width: 1800px;">
                                <thead>
                                    <tr class="table-border-top">
                                        <th scope="col">No</th>
                                        <th scope="col"><span th:text="#{commhist.labels.chargerid}"></span></th>
                                        <!-- <th scope="col">커넥터ID</th> -->
                                        <th scope="col"><span th:text="#{commhist.labels.message}"></span></th>
                                        <th scope="col"><span th:text="#{commhist.labels.recvcontent}"></span></th>
                                        <th scope="col"><span th:text="#{commhist.labels.recvtime}"></span></th>
                                        <th scope="col"><span th:text="#{commhist.labels.sendcontent}"></span></th>
                                        <th scope="col"><span th:text="#{commhist.labels.sendtime}"></span></th>
                                        <th scope="col"><span th:text="#{commhist.labels.uuid}"></span></th>
                                    </tr>
                                </thead>
                                <tbody id="pageList">
                                    <tr th:each="data, iterStat : ${chgCommlogList}">
                                        <td th:text="${startNumber + iterStat.count}">
                                        </td>
                                        <td th:text="${data.chargerId}"></td>
                                        <!-- <td th:text="${data.connectorId}"></td> -->
                                        <td th:text="${data.action}"></td>
                                        <td class="content-truncate" th:data-content="${data.recvPayload}"
                                            th:text="${data.recvPayload}" onclick="showFullContent(this)"></td>
                                        <td
                                            th:text="${data.recvTime != null ? #dates.format(data.recvTime, 'yyyy-MM-dd HH:mm:ss.SSSSSS') : ''}">
                                        </td>
                                        <td class="content-truncate" th:data-content="${data.sendPayload}"
                                            th:text="${data.sendPayload}" onclick="showFullContent(this)"></td>
                                        <td
                                            th:text="${data.sendTime != null ? #dates.format(data.sendTime, 'yyyy-MM-dd HH:mm:ss.SSSSSS') : ''}">
                                        </td>
                                        <td th:text="${data.recvUuid}"></td>
                                    </tr>
                                    <tr th:if="${chgCommlogList.size() == 0}">
                                        <td colspan="8" class="text-center"><span
                                                th:text="#{commhist.messages.nodata}"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- paging navigation start -->
                    <div th:if="${chgCommlogList.size() > 0}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link"
                                    th:href="@{/history/comm(page=0, size=${size}, opSearch=${selectedOpSearch},
                                    contentSearch=${selectedContentSearch}, recvFromSearch=${selectedRecvFrom}, recvToSearch=${selectedRecvTo})}"><i
                                        class="bi bi-chevron-double-left"></i></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link"
                                    th:href="@{/history/comm(page=${currentPage-1}, size=${size}, opSearch=${selectedOpSearch},
                                    contentSearch=${selectedContentSearch}, recvFromSearch=${selectedRecvFrom}, recvToSearch=${selectedRecvTo})}"><i
                                        class="bi bi-chevron-left"></i></a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
                                th:if="${i >= 0 && i < totalPages}">
                                <a class="page-link"
                                    th:href="@{/history/comm(page=${i}, size=${size}, opSearch=${selectedOpSearch},
                                    contentSearch=${selectedContentSearch}, recvFromSearch=${selectedRecvFrom}, recvToSearch=${selectedRecvTo})}"
                                    th:text="${i+1}" th:classappend="${i == currentPage} ? 'active' : ''"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link"
                                    th:href="@{/history/comm(page=${currentPage+1}, size=${size}, opSearch=${selectedOpSearch},
                                    contentSearch=${selectedContentSearch}, recvFromSearch=${selectedRecvFrom}, recvToSearch=${selectedRecvTo})}"><i
                                        class="bi bi-chevron-right"></i></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link"
                                    th:href="@{/history/comm(page=${totalPages - 1}, size=${size}, opSearch=${selectedOpSearch},
                                    contentSearch=${selectedContentSearch}, recvFromSearch=${selectedRecvFrom}, recvToSearch=${selectedRecvTo})}"><i
                                        class="bi bi-chevron-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- paging navigation end -->
                </div>
                <!-- card body:3 end -->
            </div>
            <!-- card:3 end -->
        </div>
        <!-- card body:1 end -->
    </div>
    <!-- card:1 end -->
    <!-- payload 모달 영역 -->
    <!-- payload 모달 영역 -->
    <div class="modal fade" id="contentModal" tabindex="-1" aria-labelledby="contentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contentModalLabel"><span th:text="#{commhist.titles.details}"></span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <pre id="modalContent" style="white-space: pre-wrap; word-break: break-all;"></pre>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/history/comm_history.js}"></script>
    <!-- Add Modal end -->
    <script type="text/javascript" th:src="@{/js/customer/faq.js}"></script>
    <script th:inline="javascript">
        var i18n = {
            commhist: {
                titles: {
                    details: /*[[#{commhist.titles.details}]]*/ '상세 내용'
                }
            }
        };

        var currentLanguage = /*[[${#locale.language}]]*/ 'ko';
    </script>
    <!-- 언어 선택기 스크립트 -->
    <div th:replace="~{fragments/language-selector :: language-script}"></div>
</div>

</html>