<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <!-- card:1 start -->
    <div class="card">
        <!-- card body:1 start -->
        <div class="card-body">
            <div class="content-title mb-4 fw-bolder"><i class="fa-solid fa-building me-2"></i>업체관리 > 사업자 관리</div>
            <!-- card:2 start -->
            <div class="card card-shadow">
                <!-- card body:2 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span>검색조건</span></div>
                    <!-- form start -->
                    <form class="position-relative">
                        <div class="row mb-3 row-cols-2 row-cols-lg-3 g-2">
                            <div class="col d-flex align-items-center p-0 search-border">
                                <label for="business"
                                    class="d-flex justify-content-center align-items-center flex-shrink-0 col-form-label font-weight-bold text-center w-25"
                                    style="background-color: #F5F5F5; height: 54px;">사업자명<b>*</b></label>
                                <select id="business" class="mx-3 form-control" name="business" required>
                                    <option th:value="*{null}" th:text="'(없음)'"></option>
                                    <option th:each="company : ${companyList}" th:value="${company.companyId}"
                                        th:text="${company.companyName}"></option>
                                </select>
                            </div>
                            <div class="col d-flex align-items-center search-border">
                                <label for="businessType"
                                    class="d-flex justify-content-center align-items-center flex-shrink-0 col-form-label font-weight-bold text-center w-25"
                                    style="background-color: #F5F5F5; height: 54px;">사업자유형<b>*</b></label>
                                <select id="businessType" class="mx-3 form-control" name="businessType" required>
                                    <option th:value="*{null}" th:text="'(없음)'"></option>
                                    <option th:each="data : ${ckindlist}" th:value="${data.commonCode}"
                                        th:text="${data.commonCodeName}"></option>
                                </select>
                            </div>
                            <div class="col d-flex align-items-center search-border">
                                <label for="businessLv"
                                    class="d-flex justify-content-center align-items-center flex-shrink-0 col-form-label font-weight-bold text-center w-25"
                                    style="background-color: #F5F5F5; height: 54px;">사업자레벨<b>*</b></label>
                                <select class="mx-3 form-control" id="businessLv" name="businessLv" required>
                                    <option th:value="*{null}" th:text="'(없음)'"></option>
                                    <option th:each="data : ${clvlist}" th:value="${data.commonCode}"
                                        th:text="${data.commonCodeName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="search-btn">
                            <button type="button" class="btn btn-outline-grey me-2" id="companySearchBtn"><i
                                    class="bi bi-search me-2"></i>검색</button>
                            <button type="button" class="btn btn-outline-grey me-2" id="resetBtn"><i
                                    class="bi bi-arrow-repeat me-2"></i>초기화</button>
                        </div>
                    </form>
                    <!-- form end -->
                </div>
                <!-- card body:2 end -->
            </div>
            <!-- card:2 end -->
            <!-- card:3 start -->
            <div class="card card-shadow mt-4">
                <!-- card body:3 start -->
                <div class="card-body">
                    <div class="card-title">
                        <span class="card-title-bar"></span><span>업체 리스트</span>
                    </div>
                    <div class="mt-3 position-relative">
                        <!-- btn-outline-grey -->
                        <button class="btn btn-data-add" data-bs-toggle="modal" data-bs-target="#dataAddModal"><i
                                class="bi bi-plus-square me-2"></i>등록</button>
                        <button class="btn btn-data-edit" id="editBtn"><i
                                class="fa-regular fa-pen-to-square me-2"></i>수정</button>
                        <button class="btn btn-data-delete"><i class="bi bi-trash me-2"></i>삭제</button>

                        <span class="position-absolute" style="right: 0; bottom: 0;">
                            <span id="page-info"></span>
                            <select class="mx-3 page-select" id="" name="">
                                <option value='%'>10개</option>
                            </select>
                        </span>
                    </div>
                    <div class="w-100 table-responsive position-relative">
                        <table class="table text-center mt-3 table-bg table-hover">
                            <thead>
                                <tr class="table-border-top">
                                    <th scope="col"></th>
                                    <th scope="col">사업자명</th>
                                    <th scope="col">사업자구분</th>
                                    <th scope="col">사업자유형</th>
                                    <th scope="col">상위사업자ID</th>
                                    <th scope="col">가입일</th>
                                    <th scope="col">종료일</th>
                                    <th scope="col">계약상태</th>
                                </tr>
                            </thead>
                            <tbody id="pageListSub">
                                <tr th:each="company : ${companyList}">
                                    <td><input type="checkbox" /></td>
                                    <td th:text="${company.companyName}"></td>
                                    <td th:text="${company.companyLv}"></td>
                                    <td th:text="${company.companyType}"></td>
                                    <td th:text="${company.parentId}"></td>
                                    <td th:text="${#temporals.format(company.contractedAt,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${#temporals.format(company.contractEnd,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${company.contractStatus}"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        <ul class="pagination" id="paging"></ul>
                    </div>
                </div>
                <!-- card body:3 end -->
            </div>
            <!-- card:3 end -->
        </div>
        <!-- card body:1 end -->
    </div>
    <!-- card:1 end -->

    <!-- Add Modal start -->
    <div class="modal fade" id="dataAddModal" tabindex="-1" aria-labelledby="dataAddModalLabel"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 60vw; height: 90vh;">
            <!-- height: 90vh; -->
            <div class="modal-content mh-100 overflow-y-auto scrollbar">

                <!-- modal body start -->
                <div class="modal-body">
                    <form th:object="*{companyRegDto}">
                        <!-- 모달 내용 -->
                        <div class="modal-title mb-2"><span class="modal-title-bar"></span><span>사업자 정보</span></div>
                        <!-- table:1 start -->
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">사업자유형<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <select id="companyType" class="form-control" required>
                                            <option th:each="data : ${ckindlist}" th:value="${data.commonCode}"
                                                th:text="${data.commonCodeName}" th:field="*{companyType}"></option>
                                        </select>
                                    </td>
                                    <th class="w-20">사업자레벨<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <select id="companyLv" class="form-control" required
                                            onchange="updateParentCompanyOptions()">
                                            <option th:each="data : ${clvlist}" th:value="${data.commonCode}"
                                                th:text="${data.commonCodeName}" th:field="*{companyLv}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">사업자명<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="bizName" id="bizName" class="form-control"
                                            placeholder="" autocomplete="off" th:field="*{companyName}" required>
                                    </td>
                                    <th class="w-20">사업자등록번호<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="bizNum" id="bizNum" class="form-control" maxlength="13"
                                            placeholder="" autocomplete="off" th:field="*{bizNum}" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">사업자구분<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <select id="bizType" class="form-control" required>
                                            <option th:each="biztype : ${biztypelist}" th:value="${biztype.commonCode}"
                                                th:text="${biztype.commonCodeName}" th:field="*{bizType}"></option>
                                        </select>
                                    </td>
                                    <th class="w-20">업종<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <select id="bizKind" class="form-control" required>
                                            <option th:each="bizkind : ${bizkindlist}"
                                                th:value="${bizkindlist.commonCode}" th:text="${bizkind.commonCodeName}"
                                                th:field="*{bizKind}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">대표자명<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="headName" id="headName" class="form-control"
                                            placeholder="" th:field="*{ceoName}" required>
                                    </td>
                                    <th class="w-20">대표전화번호<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="headPhone" id="headPhone" class="form-control"
                                            placeholder="" th:field="*{headPhone}" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">주소<b class="required-data">*</b></th>
                                    <td class="w-30" colspan="3">
                                        <div class="address-container mb-2 display-input-btn">
                                            <input type="text" name="postCode" id="postCode" class="form-control w-25"
                                                placeholder="" th:field="*{zipcode}" disabled>
                                            <button class="btn btn-outline-grey flex-btn" id="postBtn"
                                                onclick="postSearch()">주소 검색</button>
                                        </div>
                                        <input type="text" name="address" id="address" class="form-control mb-2"
                                            placeholder="" autocomplete="off" th:field="*{address}" disabled>
                                        <input type="text" name="addressDetail" id="addressDetail" class="form-control"
                                            placeholder="상세 주소" th:field="*{addressDetail}" autocomplete="off">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:1 end -->
                        <!-- table:2 start -->
                        <div class="modal-title mb-2"><span class="modal-title-bar"></span><span>사업자 관계 정보</span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">상위사업자</th>
                                    <td class="w-30">
                                        <select id="parentCompanyOptions" th:field="*{parentId}" class="form-control">
                                            <option th:value="*{null}" th:text="'해당없음'" selected="selected"></option>
                                        </select>
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:2 end -->
                        <!-- table:3 start -->
                        <div class="modal-title mb-2 position-relative">
                            <span class="modal-title-bar"></span><span>로밍 정보</span>
                            <span class="ms-5 position-absolute" style="margin-left: 4px; right: 0;">
                                <button type="button" class="btn btn-outline-grey me-2" onclick="addRow()">+ 추가</button>
                                <button type="button" class="btn btn-outline-grey" onclick="deleteRow()">- 삭제</button>
                            </span>
                        </div>
                        <table class="table table-bg table-fixed w-100 text-center align-middle" id="roamingTable">
                            <thead>
                                <tr class="table-border-top">
                                    <th scope="col" class="w-5"></th>
                                    <th scope="col" class="w-15">로밍기관</th>
                                    <th scope="col" class="w-25">기관 인증키</th>
                                    <th scope="col" class="w-25">e-mail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox"></th>
                                    <td><input type="text" class="input-add-row" value=""
                                            th:field="*{roaming[0].institutionCode}"></td>
                                    <td><input type="text" class="input-add-row" value=""
                                            th:field="*{roaming[0].institutionKey}"></td>
                                    <td><input type="text" class="input-add-row" value=""
                                            th:field="*{roaming[0].institutionEmail}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:3 end -->
                        <!-- table:4 start -->
                        <div class="modal-title mb-2"><span class="modal-title-bar"></span><span>담당자 정보</span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">이름<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="staffName" id="staffName" class="form-control"
                                            placeholder="" th:field="*{staffName}" required>
                                    </td>
                                    <th class="w-20">이메일<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="staffEmail" id="staffEmail" class="form-control"
                                            placeholder="" th:field="*{staffEmail}" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">전화번호<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="staffNo" id="staffNo" class="form-control"
                                            placeholder="" th:field="*{staffTel}" required>
                                    </td>
                                    <th class="w-20">휴대전화<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="staffPhone" id="staffPhone" class="form-control"
                                            placeholder="" th:field="*{staffPhone}" required>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:4 end -->
                        <!-- table:5 start -->
                        <div class="modal-title mb-2"><span class="modal-title-bar"></span><span>PG 결제정보</span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">결제위탁사용<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <select id="userState" class="form-control" required>
                                            <option value='%'>(선택)</option>
                                        </select>
                                    </td>
                                    <td class="w-50" colspan="2"></td>
                                </tr>
                                <tr>
                                    <th class="w-20">SSP Mall ID<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="mallID" id="mallID" class="form-control" placeholder=""
                                            required>
                                    </td>
                                    <th class="w-20">MID<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="text" name="mID" id="mID" class="form-control" placeholder=""
                                            required>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">Merchant Key<b class="required-data">*</b></th>
                                    <td class="w-80" colspan="3">
                                        <input type="text" name="merchantKey" id="merchantKey" class="form-control"
                                            placeholder="" required>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:5 end -->
                        <!-- table:6 start -->
                        <div class="modal-title mb-2"><span class="modal-title-bar"></span><span>계약 정보</span></div>
                        <table class="table table-bg-v table-fixed w-100 text-center align-middle">
                            <tbody>
                                <tr class="table-border-top">
                                    <th class="w-20">계약 상태<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <select id="userState" class="form-control" disabled required>
                                            <option value='%'>(선택)</option>
                                        </select>
                                    </td>
                                    <th class="w-20">계약일자<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="date" min="1970-01-01" max="2199-12-31" name="contractAt"
                                            id="contractAt" class="form-control" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">계약시작<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="date" min="1970-01-01" max="2199-12-31" name="contractStart"
                                            id="contractStart" class="form-control" required>
                                    </td>
                                    <th class="w-20">계약종료<b class="required-data">*</b></th>
                                    <td class="w-30">
                                        <input type="date" min="1970-01-01" max="2199-12-31" name="contractEnd"
                                            id="contractEnd" class="form-control" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">유지보수</th>
                                    <td class="w-30">
                                        <select id="asCompany" class="form-control">
                                            <option value='%'>(선택)</option>
                                        </select>
                                    </td>
                                    <th class="w-20">계약종류</th>
                                    <td class="w-30">
                                        <select id="contractType" class="form-control">
                                            <option value='%'>(선택)</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-20">고객센터</th>
                                    <td class="w-30">
                                        <input type="text" name="asNum" id="asNum" class="form-control" placeholder="">
                                    </td>
                                    <td colspan="2">
                                        <div class="text-left">**자체 유지보수 시, 사업자 정보의 전화번호가 고객센터 전화로 안내됩니다.</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table:6 end -->
                    </form>
                </div>
                <!-- modal body end -->
                <div class="modal-footer justify-content-center border-top-none">
                    <button type="button" class="btn btn-outline-grey me-2" data-bs-dismiss="modal">취소</button>
                    <button type="submit" class="btn btn-data-add">등록</button>
                </div>

            </div>
            <!-- modal content end -->
        </div>
        <!-- modal dialog end -->
    </div>
    <!-- Add Modal end -->

    <script type="text/javascript">
        function addRow() {
            const table = document.getElementById('roamingTable').getElementsByTagName("tbody")[0];
            const newRow = table.insertRow();
            const rowIndex = table.rows.length - 1;

            // 각 셀(Column) 추가 및 input 요소로 설정
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);
            var cell4 = newRow.insertCell(3);

            cell1.innerHTML = '<input type="checkbox" class="single-checkbox">';
            cell2.innerHTML = '<input type="text" id="inscode" class="input-add-row" th:field="*{romaing[${rowIndex}].institutionCode}">';
            cell3.innerHTML = '<input type="text" id="inskey" class="input-add-row" th:field="*{romaing[${rowIndex}].institutionKey}">';
            cell4.innerHTML = '<input type="text" id="insemail" class="input-add-row" th:field="*{romaing[${rowIndex}].institutionEmail}">';

            applySingleCheckboxSelection();
        }

        function deleteRow() {
            const table = document.getElementById('roamingTable').getElementsByTagName("tbody")[0];
            const rows = table.getElementsByTagName("tr");

            for (var i = rows.length - 1; i >= 0; i--) {
                var checkbox = rows[i].getElementsByTagName("input")[0];
                if (checkbox && checkbox.checked) {
                    table.deleteRow(i);
                }
            }
        }

        // checkbox 단일 선택 기능
        function applySingleCheckboxSelection() {
            var checkboxes = document.querySelectorAll('.single-checkbox');

            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    // 체크된 checkbox 외의 모든 checkbox 해제
                    if (this.checked) {
                        checkboxes.forEach(function (otherCheckbox) {
                            if (otherCheckbox !== checkbox) {
                                otherCheckbox.checked = false;
                            }
                        });
                    }
                });
            });
        }
    </script>
    <script type="text/javascript" th:src="@{/js/table.js}"></script>
    <script type="text/javascript" th:src="@{/js/biz/biz_management.js}"></script>
    <script th:inline="javascript"></script>
</div>

</html>