<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <!-- card:1 start -->
    <div class="card responsive-content">
        <!-- card body:1 start -->
        <div class="card-body">
            <div class="content-title"><i class="fa-solid fa-microchip font-ico me-2"></i>펌웨어 > 펌웨어 버전관리</div>
            <!-- card:2 start -->
            <div class="card card-shadow">
                <!-- card body:2 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span>펌웨어 목록</span></div>
                    <div class="mt-3 btn-page-area">
                        <div th:if="${menuAuthority.authority == 'SU' or menuAuthority.authority == 'AD'}">
                            <button class="btn btn-data-delete" id="deleteBtn" hidden>
                                <i class="bi bi-trash"></i>삭제</button>
                        </div>
                        <span>
                            <span id="pageInfo">
                                <span
                                    th:text="'Page ' + (${currentPage + 1}) + ' of ' + ${totalPages} + ' [총 ' + ${totalCount} + '건]'"></span>
                            </span>
                            <select class="mx-3 page-select" id="size" name="size">
                                <option th:each="data : ${showListCnt}" th:value="${data.commonCode}"
                                    th:text="${data.commonCodeName}" th:selected="${data.commonCode == size}"></option>
                            </select>
                        </span>
                    </div>
                    <div class="w-100 table-responsive position-relative">
                        <table class="table text-center mt-3 table-bg table-hover">
                            <thead>
                                <tr class="table-border-top">
                                    <th scope="col"></th>
                                    <th scope="col">사업자</th>
                                    <th scope="col">제조사</th>
                                    <th scope="col">모델명</th>
                                    <th scope="col">버전정보</th>
                                    <th scope="col">URL</th>
                                    <th scope="col">등록일시</th>
                                    <th scope="col">등록자</th>
                                </tr>
                            </thead>
                            <tbody id="pageList">
                                <tr th:each="data : ${fwList}">
                                    <td th:id="${data.fwId}"><input type="checkbox" /></td>
                                    <td th:text="${data.companyName}"></td>
                                    <td th:text="${data.manfName}"></td>
                                    <td th:text="${data.modelCode}"></td>
                                    <td th:text="${data.fwVersion}"></td>
                                    <td th:text="${data.url}"></td>
                                    <td th:text="${#temporals.format(data.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${data.regUser}"></td>
                                </tr>
                                <tr th:if="${fwList.size() == 0}">
                                    <td colspan="8" class="text-center">펌웨어 목록이 존재하지 않습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- paging navigation start -->
                    <div th:if="${fwList.size() > 0}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/fw/version(page=0, size=${size})}"><i
                                        class="bi bi-chevron-double-left"></i></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/fw/version(page=${currentPage-1}, size=${size})}"><i
                                        class="bi bi-chevron-left"></i></a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
                                th:if="${i >= 0 && i < totalPages}">
                                <a class="page-link" th:href="@{/fw/version(page=${i}, size=${size})}" th:text="${i+1}"
                                    th:classappend="${i == currentPage} ? 'active' : ''"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/fw/version(page=${currentPage+1}, size=${size})}"><i
                                        class="bi bi-chevron-right"></i></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/fw/version(page=${totalPages - 1}, size=${size})}"><i
                                        class="bi bi-chevron-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- paging navigation end -->
                </div>
                <!-- card body:2 end -->
            </div>
            <!-- card:2 end -->
            <!-- card:3 start -->
            <div class="card card-shadow mt-4">
                <!-- card body:3 start -->
                <div class="card-body">
                    <div class="card-title"><span class="card-title-bar"></span><span>펌웨어 버전 등록</span></div>
                    <form id="fwForm" class="position-relative">
                        <div class="w-100 table-responsive">
                            <table class="table table-bg-v table-fixed w-100 text-center align-middle mt-3">
                                <tbody>
                                    <tr class="table-border-top">
                                        <th class="w-20">사업자<b class="required-data">*</b></th>
                                        <td class="w-30">
                                            <select id="companyId" class="form-control" required>
                                                <option th:value="*{null}" th:text="'(선택)'"></option>
                                                <option th:each="company : ${companyList}"
                                                    th:value="${company.companyId}" th:text="${company.companyName}">
                                                </option>
                                            </select>
                                        </td>
                                        <th class="w-20">충전기모델<b class="required-data">*</b></th>
                                        <td class="w-30">
                                            <select id="modelCode" class="form-control" required>
                                                <option th:value="*{null}" th:text="'(선택)'"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="w-20">version<b class="required-data">*</b></th>
                                        <td class="w-30">
                                            <input type="text" name="version" id="version" class="form-control"
                                                autocomplete="off" required>
                                        </td>
                                        <th class="w-20">파일경로<b class="required-data">*</b></th>
                                        <td class="w-30">
                                            <input type="text" name="filePath" id="filePath" class="form-control"
                                                value="https://dongahtest.p-e.kr:8099/files/test.apk" autocomplete="off"
                                                required>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="search-btn">
                                <button type="button" class="btn btn-data-add" id="addBtn"
                                    th:if="${menuAuthority.authority == 'SU' or menuAuthority.authority == 'AD'}">
                                    <i class="bi bi-search me-2"></i>등록</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- card body:3 end -->
            </div>
            <!-- card:3 end -->
        </div>
        <!-- card body:1 end -->
    </div>
    <!-- card:1 end -->
    <script type="text/javascript" th:src="@{/js/fw/fw_version.js}"></script>
</div>

</html>